/**
 * sticky-footer.css
 */

html, body {

	height: 100%;
}

.sticky-wrapper {

	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -70px;
}

.site-footer, .sticky-push {

	height: 70px;
}