/*				    ____
	▀▀▀▀▀▀▀▀▀	   / __ )____ _________
  █ ▀▀▀▀ ▀▀▀▀ █	  / __  / __ `/ ___/ _ \
  ▀ █ ▀▀▀▀▀ █ ▀	 / /_/ / /_/ (__  )  __/
	▀▀▀▀▀▀▀▀▀	/_____/\__,_/____/\___/*/

html, body {

	font-size: 16px;
	color: var(--body-color);
}

hr {

	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid @gray-3;
	margin: @margin-default 0;
	padding: 0;
}

div,
header,
footer,
article,
section {

	display: block;
	position: relative;
}

audio, canvas, iframe, img, svg, video { vertical-align: middle; }

sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {

	font-family: @font-mono;
	font-size: inherit;
	white-space: pre-wrap;
	padding: @margin-default;
	margin-bottom: @margin-default;
	background: @gray-2;
	color: @gray-9;
	border-radius: @radius-2;
}

code {

	font-family: @font-mono;
	font-size: inherit;
	padding: 2px 4px;

	background: @gray-2;
	color: @gray-9;
	border-radius: @radius-2;
}