/*				    ____
	▀▀▀▀▀▀▀▀▀	   / __ )____ _________
  █ ▀▀▀▀ ▀▀▀▀ █	  / __  / __ `/ ___/ _ \
  ▀ █ ▀▀▀▀▀ █ ▀	 / /_/ / /_/ (__  )  __/
	▀▀▀▀▀▀▀▀▀	/_____/\__,_/____/\___/*/


@colors: red, yellow, green, blue;
@numbers: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9;

@media-sizes: {
	sm: @sm-n-above;
	md: @md-n-above;
	lg: @lg-n-above;
	xl: @xl-n-above;
	xxl: @xxl-n-above;
}

@pseudo-classes: hover, focus, active, first-child;

.pseudo-classes() {
	hover: hover;
	focus: focus;
	active: active;
	first-child: first-child;
}