<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Chimplate</title>

	<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico?v=2">

	<link rel="stylesheet" href="assets/styles/reset.css">
	<link rel="stylesheet/less" href="assets/styles/documentation.less">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

	<div id="ladybug-root"></div>

	<script type="text/template" id="partial-header">
		<header class="site-header cf">
			<div class="margins cf">
				<a href="#"><img class="pull-left" src="assets/images/chimplate-monograma.svg" width="65" alt="Chimplate"></a>

				<div class="actions pull-right">
					<a href="https://github.com/TheWebChimp/chimplate" class="button button-pill button-small button-icon"><i class="fa fa-github-alt"></i> Get it on GitHub</a>
				</div>
			</div>
		</header>
	</script>

	<script type="text/template" id="partial-footer">
		<footer class="site-footer cf">
			<div class="margins cf">
				<div class="actions pull-right">
					<a href="https://github.com/TheWebChimp" class="button button-link button-small">Made with <i class="fa fa-heart-o"></i> in WebChimp</a>
				</div>
			</div>
		</footer>
	</script>

	<script type="text/template" id="page-home">
		<%= app.partials.header() %>

		<div class="site-content">

			<section class="block block-hero">
				<div class="hero-wrapper">
					<object id="chimplate-logo-stroke" type="image/svg+xml" data="assets/images/chimplate-logo2.svg" width="100%"></object>
					<object id="chimplate-logo-fill" class="animable" type="image/svg+xml" data="assets/images/chimplate-logo.svg?v=1" width="100%"></object>
				</div>
			</section>

			<section class="block block-intro">
				<div class="inner">
					<div class="margins">
						<div class="the-content text-center">
							<h2 class="block-title">What is this?</h2>
							<p><strong>Chimplate</strong> is the CSS Framework of Chimp.</p>
							<p>Back in the days, we were working with Bootstrap like anybody else. The problem was, everything looked the same. Sure, there are tons of themes, but we always felt different. So, we created our own Framework.</p>

							<h3>Take a look at all this sweetness:</h3>

							<div class="row row-md">
								<div class="col col-md-4">
									<div class="documentation-block">
										<a href="#/grid"><img class="img-responsive" src="assets/images/card-grid.png" alt="The Grid"></a>
										<h4><a href="#/grid">The grid</a></h4>
										<p>Flexible and responsibe grid.</p>
									</div>
								</div>

								<div class="col col-md-4">
									<div class="documentation-block">
										<a href="#/tables"><img class="img-responsive" src="assets/images/card-tables.png" alt="Tables"></a>
										<h4><a href="#/tables">Tables</a></h4>
										<p>In all flavors, normal, stripped, zebra, you name it.</p>
									</div>
								</div>

								<div class="col col-md-4">
									<div class="documentation-block">
										<a href="#/buttons"><img class="img-responsive" src="assets/images/card-buttons.png" alt="Buttons"></a>
										<h4><a href="#/buttons">Buttons</a></h4>
										<p>Tasty tasty buttons.</p>
									</div>
								</div>

								<div class="col col-md-4">
									<div class="documentation-block">
										<a href="#/forms"><img class="img-responsive" src="assets/images/card-forms.png" alt="Forms"></a>
										<h4><a href="#/forms">Forms</a></h4>
										<p>Form styles ready to be deployed in your project.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>

		<%= app.partials.footer() %>
	</script>

	<script type="text/template" id="page-grid">
		<%= app.partials.header() %>

		<div class="site-content content-documentation">
			<section class="block block-intro">
				<div class="inner">
					<div class="margins">
						<div class="the-content">
							<h2 class="block-title">Chimplate Grid System</h2>
						</div>
					</div>
				</div>
			</section>

			<section class="block block-example">
				<div class="inner">
					<div class="margins">
						<div class="the-content">

							<h2>Grid Basics</h2>
							<p>A grid system is a way to layout and align content. This way, using <code>.row</code>'s and <code>.col</code>'s.</p>
							<p>This way, rows are wrappers for columns. Each column has a horizontal padding (called gutter) used for controlling the space between the columns. This padding is counteracted on the rows with negative margins.</p>

							<h2 class="title">Basic Grid</h2>
							<p>We chose to use a 12-column grid for our responsive layouts. Why? Because number 12 has many ways to be divided.</p>
							<p>The basic grid has a 15px gutter (left and right padding) per column.</p>
						</div>

						<div class="row row-5 row-md row-sm row-shaded">
							<% for(i = 0; i < 12; i++) { %>
								<div class="col col-sm-6 col-md-3 col-1"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-3</span><span class="hide-tablet-down">.col-1</span></div>
							<% } %>
						</div>

						<div class="row row-5 row-md row-sm row-shaded">
							<% for(i = 0; i < 4; i++) { %>
								<div class="col col-sm-12 col-md-6 col-3"><span class="show-mobile-only">.col-sm-12</span><span class="show-tablet-only">.col-md-6</span><span class="hide-tablet-down">.col-3</span></div>
							<% } %>
						</div>

						<div class="row row-5 row-md row-sm row-shaded">
							<% for(i = 0; i < 3; i++) { %>
								<div class="col col-sm-12 col-md-4 col-4"><span class="show-mobile-only">.col-sm-12</span><span class="show-tablet-only">.col-md-4</span><span class="hide-tablet-down">.col-4</span></div>
							<% } %>
						</div>

						<div class="row row-5 row-md row-sm row-shaded">
							<div class="col col-sm-6 col-md-6 col-6"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-6</span><span class="hide-tablet-down">.col-6</span></div>
							<div class="col col-sm-6 col-md-6 col-6"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-6</span><span class="hide-tablet-down">.col-6</span></div>
						</div>

						<div class="row row-5 row-md row-sm row-shaded">
							<div class="col col-sm-6 col-md-7 col-7"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-7</span><span class="hide-tablet-down">.col-7</span></div>
							<div class="col col-sm-6 col-md-5 col-5"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-5</span><span class="hide-tablet-down">.col-5</span></div>
						</div>

						<div class="row row-5 row-md row-sm row-shaded">
							<div class="col col-sm-6 col-md-8 col-8"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-8</span><span class="hide-tablet-down">.col-8</span></div>
							<div class="col col-sm-6 col-md-4 col-4"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-4</span><span class="hide-tablet-down">.col-4</span></div>
						</div>

						<div class="row row-5 row-md row-sm row-shaded">
							<div class="col col-sm-6 col-md-9 col-9"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-9</span><span class="hide-tablet-down">.col-9</span></div>
							<div class="col col-sm-6 col-md-3 col-3"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-3</span><span class="hide-tablet-down">.col-3</span></div>
						</div>

						<div class="row row-5 row-md row-sm row-shaded">
							<div class="col col-sm-6 col-md-10 col-10"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-10</span><span class="hide-tablet-down">.col-10</span></div>
							<div class="col col-sm-6 col-md-2 col-2"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-2</span><span class="hide-tablet-down">.col-2</span></div>
						</div>

						<div class="row row-5 row-md row-sm row-shaded">
							<div class="col col-sm-6 col-md-11 col-11"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-11</span><span class="hide-tablet-down">.col-11</span></div>
							<div class="col col-sm-6 col-md-1 col-1"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-1</span><span class="hide-tablet-down">.col-1</span></div>
						</div>

						<div class="row row-5 row-md row-sm row-shaded">
							<div class="col col-sm-12 col-md-12 col-12"><span class="show-mobile-only">.col-sm-12</span><span class="show-tablet-only">.col-md-12</span><span class="hide-tablet-down">.col-12</span></div>
						</div>
					</div>
				</div>
			</section>

			<section class="block block-example">
				<div class="inner">
					<div class="margins">
						<div class="the-content">
							<h2 class="title">Different Gutters</h2>
							<p>Sometimes, we will need different gutters. Maybe we don't want our columns to be near, even 'collapsing'.</p>
							<p>Here a <code>.row-10</code> grid.</p>
						</div>

						<div class="row row-md row-sm row-10 row-shaded">
							<div class="col col-sm-3"><span>.col-3</span></div>
							<div class="col col-sm-3"><span>.col-3</span></div>
							<div class="col col-sm-3"><span>.col-3</span></div>
							<div class="col col-sm-3"><span>.col-3</span></div>
						</div>

						<div class="row row-md row-sm row-10 row-shaded">
							<div class="col col-sm-4"><span>.col-4</span></div>
							<div class="col col-sm-4"><span>.col-4</span></div>
							<div class="col col-sm-4"><span>.col-4</span></div>
						</div>
						<br>

						<div class="the-content">
							<p>Here a <code>.row-5</code> grid.</p>
						</div>

						<div class="row row-md row-sm row-5 row-shaded">
							<div class="col col-sm-3"><span>.col-3</span></div>
							<div class="col col-sm-3"><span>.col-3</span></div>
							<div class="col col-sm-3"><span>.col-3</span></div>
							<div class="col col-sm-3"><span>.col-3</span></div>
						</div>

						<div class="row row-md row-sm row-5 row-shaded">
							<div class="col col-sm-4"><span>.col-4</span></div>
							<div class="col col-sm-4"><span>.col-4</span></div>
							<div class="col col-sm-4"><span>.col-4</span></div>
						</div>
						<br>

						<div class="the-content">
							<p>And Here a completly collapse grid, with the class<code>.row-collapse</code>.</p>
						</div>

						<div class="row row-md row-sm row-collapse row-shaded">
							<div class="col col-sm-3"><span>.col-3</span></div>
							<div class="col col-sm-3"><span>.col-3</span></div>
							<div class="col col-sm-3"><span>.col-3</span></div>
							<div class="col col-sm-3"><span>.col-3</span></div>
						</div>

						<div class="row row-md row-sm row-collapse row-shaded">
							<div class="col col-sm-4"><span>.col-4</span></div>
							<div class="col col-sm-4"><span>.col-4</span></div>
							<div class="col col-sm-4"><span>.col-4</span></div>
						</div>
					</div>
				</div>
			</section>

			<section class="block block-example">
				<div class="inner">
					<div class="margins">
						<div class="the-content">
							<h2 class="title">Column offsets</h2>
						</div>

						<div class="row row-shaded">
							<div class="col col-4"><span>.col-4</span></div>
						</div>

						<% for(i = 1; i <= 8; i++) { %>
							<div class="row row-shaded">
								<div class="col col-4 col-offset-<%= i %>"><span>.col-4 .col-offset-<%= i %></span></div>
							</div>
						<% } %>
					</div>
				</div>
			</section>

			<section class="block block-example">
				<div class="inner">
					<div class="margins">

						<div class="the-content">
							<h2 class="title">Nested</h2>
							<p>One of the great, great advantages of our grid is the capability to nest. Here, when you need some ways to divide your grid that are no dividable through normal methods, you can start nesting.</p>
						</div>

						<div class="row row-shaded">
							<div class="col col-8 col-offset-2">
								<span>
									.col-8 .col-offset-2<br><br>
									<div class="row">
										<div class="col col-8"><span>.col-8</span></div>
										<div class="col col-4"><span>.col-4</span></div>
									</div>
								</span>
							</div>
						</div>

						<br>

						<div class="row row-shaded">
							<div class="col col-8 col-offset-2">
								<span>
									.col-8 .col-offset-2<br><br>
									<div class="row">
										<div class="col col-8">
											<div class="row">
												<div class="col col-6"><span>.col-6</span></div>
												<div class="col col-6"><span>.col-6</span></div>
											</div>
										</div>
										<div class="col col-4"><span>.col-4</span></div>
									</div>
								</span>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="block block-example">
				<div class="inner">
					<div class="margins">

						<div class="the-content">
							<h2 class="title">Flex Grid</h2>
							<p>Flex grid text here. Flex grid text here. Flex grid text here. Flex grid text here. Flex grid text here.</p>
						</div>

						<div class="flex-row row-5 row-shaded">
							<% for(i = 0; i < 12; i++) { %>
								<div class="col col-sm-6 col-md-3 col-1"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-3</span><span class="hide-tablet-down">.col-1</span></div>
							<% } %>
						</div>

						<div class="flex-row row-5 row-shaded">
							<% for(i = 0; i < 4; i++) { %>
								<div class="col col-sm-12 col-md-6 col-3"><span class="show-mobile-only">.col-sm-12</span><span class="show-tablet-only">.col-md-6</span><span class="hide-tablet-down">.col-3</span></div>
							<% } %>
						</div>

						<div class="flex-row row-5 row-shaded">
							<% for(i = 0; i < 3; i++) { %>
								<div class="col col-sm-12 col-md-4 col-4"><span class="show-mobile-only">.col-sm-12</span><span class="show-tablet-only">.col-md-4</span><span class="hide-tablet-down">.col-4</span></div>
							<% } %>
						</div>

						<div class="flex-row row-5 row-shaded">
							<div class="col col-sm-6 col-md-6 col-6"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-6</span><span class="hide-tablet-down">.col-6</span></div>
							<div class="col col-sm-6 col-md-6 col-6"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-6</span><span class="hide-tablet-down">.col-6</span></div>
						</div>

						<div class="flex-row row-5 row-shaded">
							<div class="col col-sm-6 col-md-7 col-7"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-7</span><span class="hide-tablet-down">.col-7</span></div>
							<div class="col col-sm-6 col-md-5 col-5"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-5</span><span class="hide-tablet-down">.col-5</span></div>
						</div>

						<div class="flex-row row-5 row-shaded">
							<div class="col col-sm-6 col-md-8 col-8"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-8</span><span class="hide-tablet-down">.col-8</span></div>
							<div class="col col-sm-6 col-md-4 col-4"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-4</span><span class="hide-tablet-down">.col-4</span></div>
						</div>

						<div class="flex-row row-5 row-shaded">
							<div class="col col-sm-6 col-md-9 col-9"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-9</span><span class="hide-tablet-down">.col-9</span></div>
							<div class="col col-sm-6 col-md-3 col-3"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-3</span><span class="hide-tablet-down">.col-3</span></div>
						</div>

						<div class="flex-row row-5 row-shaded">
							<div class="col col-sm-6 col-md-10 col-10"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-10</span><span class="hide-tablet-down">.col-10</span></div>
							<div class="col col-sm-6 col-md-2 col-2"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-2</span><span class="hide-tablet-down">.col-2</span></div>
						</div>

						<div class="flex-row row-5 row-shaded">
							<div class="col col-sm-6 col-md-11 col-11"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-11</span><span class="hide-tablet-down">.col-11</span></div>
							<div class="col col-sm-6 col-md-1 col-1"><span class="show-mobile-only">.col-sm-6</span><span class="show-tablet-only">.col-md-1</span><span class="hide-tablet-down">.col-1</span></div>
						</div>

						<div class="flex-row row-5 row-shaded">
							<div class="col col-sm-12 col-md-12 col-12"><span class="show-mobile-only">.col-sm-12</span><span class="show-tablet-only">.col-md-12</span><span class="hide-tablet-down">.col-12</span></div>
						</div>

						<div class="the-content">
							<h2 class="title">Fluid Flex Grid</h2>
							<p>The fluid flex grid lets you create columns outside the 12 columns grid system, for example, 5, 7 or even 10 columns.</p>
							<p></p>
						</div>

						<div class="flex-row row-5 row-shaded">
							<div class="col col-md-6"><span>fifth</span></div>
							<div class="col col-md-6"><span>fifth</span></div>
							<div class="col col-md-4"><span>fifth</span></div>
							<div class="col col-md-8"><span>fifth</span></div>
							<div class="col col-md-12"><span>fifth</span></div>
						</div>

						<div class="flex-row row-5 row-shaded">
							<div class="col"><span>seventh</span></div>
							<div class="col"><span>seventh</span></div>
							<div class="col"><span>seventh</span></div>
							<div class="col"><span>seventh</span></div>
							<div class="col"><span>seventh</span></div>
							<div class="col"><span>seventh</span></div>
							<div class="col"><span>seventh</span></div>
						</div>

						<div class="flex-row row-5 row-shaded">
							<div class="col"><span>tenth</span></div>
							<div class="col"><span>tenth</span></div>
							<div class="col"><span>tenth</span></div>
							<div class="col"><span>tenth</span></div>
							<div class="col"><span>tenth</span></div>
							<div class="col"><span>tenth</span></div>
							<div class="col"><span>tenth</span></div>
							<div class="col"><span>tenth</span></div>
							<div class="col"><span>tenth</span></div>
							<div class="col"><span>tenth</span></div>
						</div>

					</div>
				</div>
			</section>

			<section class="block block-example">
				<div class="inner">
					<div class="margins">

						<div class="the-content">
							<h2 class="title">Flex Grid Alignment</h2>
							<p>Add classes to align elements to the start or end of a row as well as the top, bottom, or center of a column.</p>
						</div>

						<div class="flex-row-wrapper">
							<div class="flex-row row-5 row-sm-start row-shaded">
								<div class="col col-4 col-sm-4"><span>.row-sm-start .col</span></div>
							</div>
						</div>

						<div class="flex-row-wrapper">
							<div class="flex-row row-5 row-sm-center row-shaded">
								<div class="col col-4 col-sm-4"><span>.row-sm-center .col</span></div>
							</div>
						</div>

						<div class="flex-row-wrapper">
							<div class="flex-row row-5 row-sm-end row-shaded">
								<div class="col col-4 col-sm-4"><span>.row-sm-end .col</span></div>
							</div>
						</div>

						<div class="flex-row-wrapper">
							<div class="flex-row row-5 row-sm-top row-shaded">
								<div class="col col-6 col-sm-6"><span>.row-top .col</span></div>
								<div class="col col-6 col-sm-6"><span style="height: 70px;">.col</span></div>
							</div>
						</div>

						<div class="flex-row-wrapper">
							<div class="flex-row row-5 row-sm-middle row-shaded">
								<div class="col col-sm-6"><span>.row-middle .col</span></div>
								<div class="col col-sm-6"><span style="height: 70px;">.col</span></div>
							</div>
						</div>

						<div class="flex-row-wrapper">
							<div class="flex-row row-5 row-sm-bottom row-shaded">
								<div class="col col-sm-6"><span>.row-bottom .col</span></div>
								<div class="col col-sm-6"><span style="height: 70px;">.col</span></div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<%= app.partials.footer() %>
	</script>

	<script type="text/template" id="page-tables">
		<%= app.partials.header() %>

		<div class="site-content content-documentation">
			<section class="block block-intro">
				<div class="inner">
					<div class="margins">
						<div class="the-content">
							<h2 class="block-title">Chimplate Tables</h2>
						</div>
					</div>
				</div>
			</section>

			<section class="block block-example">
				<div class="inner">
					<div class="margins">
						<div class="the-content">
							<h2 class="title">Getting started</h2>
							<p>In the beginning there were tables, everything was built using tables. And tables ruled the world ...wide web.</p>
							<p>Today you may still use tables, so we've created a set of helper classes to make 'em pretty and more useful.</p>
							<p>Just add the <code>table</code> class to your <code>table</code> elements and <em>voila</em>!</p>

							<table class="table">
								<tbody>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
								</tbody>
							</table>

							<h2 class="title">Headers and footers</h2>
							<p>As you may have guessed, we've included some cool styles for your <code>thead</code> and <code>tfoot</code> tags too just for you.</p>
							<p>Just use the proper <code>thead</code>, <code>tfoot</code> and <code>th</code> elements.</p>

							<table class="table">
								<thead>
									<tr>
										<th>Foo</th>
										<th>Bar</th>
										<th>Baz</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th>Foo</th>
										<th>Bar</th>
										<th>Baz</th>
									</tr>
								</tfoot>
							</table>

							<h2 class="title">Zebra stripes</h2>
							<p>Do you know how the zebra got his stripes? Neither we do!</p>
							<p>But you can have sweet-striped tables just by adding the <code>table-striped</code> class to your table element. Because you're worth it.</p>

							<table class="table table-striped">
								<tbody>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
								</tbody>
							</table>

							<h2 class="title">Bordered Table</h2>
							<p>What about giving border to the table?</p>
							<p>Not a problem at all, just add the <code>table-border</code> class to your table element.</p>

							<table class="table table-border">
								<tbody>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
								</tbody>
							</table>

							<h2 class="title">Hover highlight</h2>
							<p>We're spoiling you, aren't we?</p>
							<p>You wanted highlight-on-hover rows and you got 'em. <em>&quot;But how?&quot;</em> you may ask; well, just add the <code>table-hover</code> class to your table and enjoy the pure CSS bonanza.</p>

							<table class="table table-hover">
								<tbody>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
								</tbody>
							</table>

							<h2 class="title">Mix and match</h2>
							<p>Oh holy macaroni!! THIS IS HUGE NEWS!</p>
							<p><em>You may also combine classes!!</em> Let's see some <code>table-striped</code> &plus; <code>table-hover</code> beauty</p>

							<table class="table table-striped table-hover">
								<tbody>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
									<tr>
										<td>Foo</td>
										<td>Bar</td>
										<td>Baz</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</section>
		</div>

		<%= app.partials.footer() %>
	</script>

	<script type="text/template" id="page-buttons">
		<%= app.partials.header() %>

		<div class="site-content content-documentation">
			<section class="block block-intro">
				<div class="inner">
					<div class="margins">
						<div class="the-content">
							<h2 class="block-title">Chimplate Buttons</h2>
						</div>
					</div>
				</div>
			</section>

			<section class="block block-example">
				<div class="inner">
					<div class="margins">
						<div class="the-content">
							<h1 class="section-title">Buttons</h1>
							<p>Buttons are tricky ones. We have a huge range of controls that act like buttons: <code>button</code>, <code>input</code> even (an primarly) <code>anchors</code>.</p>
							<p>Also, buttons are used widely across the web as the main tool to perform actions.</p>

							<h2 class="title">Different button tags</h2>
							<p>Note that all look the same. They should if you are a good programmer :)</p>

							<p><a href="#" class="button">Hi, I'm an anchor!</a> vs. <button class="button">I'm a button</button> vs. <input class="button" type="button" value="I'm an input[type=button]"> vs. <input class="button" type="submit" value="And I'm an input[type=submit]"></p>

							<h2 class="title">Button Classes</h2>
							<p>Here our classes, plain but very class-y (pun intended).</p>
							<p>Depending the case, you may use a different style for your button. Some actions may represent the primary action (submitting, continuing), while some actions may cancel or return you to the previous step.</p>

							<table class="table">
								<tbody>
									<tr>
										<th class="button-th"><a href="#" class="button">Basic button</a></th>
										<td>Our basic button. No class added. Gray and beautiful.</td>
										<td class="swatch" style="background-color: #7f8c8d;"><small>#7F8C8D</small><br>Asbestos</td>
										<td class="swatch" style="background-color: #95a5a6;"><small>#95A5A6</small><br>Concrete</td>
									</tr>
									<tr>
										<th class="button-th"><a href="#" class="button button-primary">Primary Button</a></th>
										<td>Good ol' primary button. Apply the class <code>.button-primary</code> and get this dawg.</td>
										<td class="swatch" style="background-color: #2980B9;"><small>#2980B9</small><br>Belize Hole</td>
										<td class="swatch" style="background-color: #3498DB;"><small>#3498DB</small><br>Peter River</td>
									</tr>
									<tr>
										<th class="button-th"><a href="#" class="button button-success">Success Button</a></th>
										<td>Success is green. This button as well. Apply the class <code>.button-success</code> and get this dawg.</td>
										<td class="swatch" style="background-color: #27AE60;"><small>#27AE60</small><br>Nephritis</td>
										<td class="swatch" style="background-color: #2ECC71;"><small>#2ECC71</small><br>Emerald</td>
									</tr>
									<tr>
										<th class="button-th"><a href="#" class="button button-warning">Warning Button</a></th>
										<td>Warning comes in beautiful pumpkin color. Apply the class <code>.button-warning</code> and get this dawg.</td>
										<td class="swatch" style="background-color: #D35400;"><small>#D35400</small><br>Pumpkin</td>
										<td class="swatch" style="background-color: #E67E22;"><small>#E67E22</small><br>Carrot</td>
									</tr>
									<tr>
										<th class="button-th"><a href="#" class="button button-error">Error Button</a></th>
										<td>Error is red. This button is red. Do the math. Apply the class <code>.button-error</code> and get this dawg.</td>
										<td class="swatch" style="background-color: #C0392B;"><small>#C0392B</small><br>Pomegranate</td>
										<td class="swatch" style="background-color: #E74C3C;"><small>#E74C3C</small><br>Alizarin</td>
									</tr>
									<tr>
										<th class="button-th"><a href="#" class="button button-facebook"><i class="fa fa-facebook"></i> Facebook Button</a></th>
										<td>Facebook Button, always useful. Apply the class <code>.button-facebook</code> and get this dawg.</td>
										<td class="swatch" style="background-color: #2D5F9A;"><small>#2D5F9A</small><br>Facebook</td>
										<td class="swatch" style="background-color: #567EAE;"><small>#567EAE</small><br>Washed Mark</td>
									</tr>
									<tr>
										<th class="button-th"><a href="#" class="button button-twitter"><i class="fa fa-twitter"></i> Twitter Button</a></th>
										<td>Twitter button, make the fail whale feel proud. Apply the class <code>.button-twitter</code> and get this dawg.</td>
										<td class="swatch" style="background-color: #55ACEE;"><small>#55ACEE</small><br>Twitter</td>
										<td class="swatch" style="background-color: #76BCF1;"><small>#76BCF1</small><br>Dorsey</td>
									</tr>
									<tr>
										<th class="button-th"><a href="#" class="button button-linkedin"><i class="fa fa-linkedin"></i> Linkedin Button</a></th>
										<td>Linkedin button, serious blue. Apply the class <code>.button-linkedin</code> and get this dawg.</td>
										<td class="swatch" style="background-color: #2189BE;"><small>#2189BE</small><br>Linkedin</td>
										<td class="swatch" style="background-color: #4DA0CB;"><small>#4DA0CB</small><br>Hoffman</td>
									</tr>
									<tr>
										<th class="button-th"><a href="#" class="button button-pinterest"><i class="fa fa-pinterest"></i> Pinterest Button</a></th>
										<td>Pinterest with a beautiful cherry red. Apply the class <code>.button-pinterest</code> and get this dawg.</td>
										<td class="swatch" style="background-color: #D11E16;"><small>#D11E16</small><br>Pinterest</td>
										<td class="swatch" style="background-color: #DA4A44;"><small>#DA4A44</small><br>Sciarra</td>
									</tr>
									<tr>
										<th class="button-th"><a href="#" class="button button-rss"><i class="fa fa-rss"></i> RSS Button</a></th>
										<td>RSS Button is orange. Apply the class <code>.button-rss</code> and get this dawg.</td>
										<td class="swatch" style="background-color: #F60;"><small>#FF6600</small><br>Blaze Orange</td>
										<td class="swatch" style="background-color: #FF8432;"><small>#FF8432</small><br>Syndicate</td>
									</tr>
								</tbody>
							</table>

							<h2 class="title">Button Sizes</h2>
							<p>We won't be using the same size of button always.</p>

							<table class="table">
								<tbody>
									<tr>
										<th class="button-th"><a href="#" class="button button-primary button-xsmall">Extra-small button</a></th>
										<td>Extra-small button.</td>
									</tr>
									<tr>
										<th class="button-th"><a href="#" class="button button-primary button-small">Small button</a></th>
										<td>Small button.</td>
									</tr>
									<tr>
										<th class="button-th"><a href="#" class="button button-primary">Normal button</a></th>
										<td>Normal button.</td>
									</tr>
									<tr>
										<th class="button-th"><a href="#" class="button button-primary button-large">Large button</a></th>
										<td>Large button.</td>
									</tr>
									<tr>
										<th class="button-th"><a href="#" class="button button-primary button-large">Extra-large button</a></th>
										<td>Extra-large button.</td>
									</tr>
								</tbody>
							</table>

							<h2 class="title">Font-Awesome Button</h2>
							<p>This buttons play well with Font-Awesome. At the end, it's just a font. And our buttons are awesome.</p>

							<p>
								<a href="#" class="button"><i class="fa fa-heart"></i> Share your love</a>
								<a href="#" class="button"><i class="fa fa-star"></i> Like this</a>
								<a href="#" class="button"><i class="fa fa-html5"></i> Oh look, html5</a>
							</p>

							<h2 class="title">Outline Buttons</h2>
							<p>The new web-buttons trend comes with outline, transparent buttons. Same classes than the normal ones.</p>

							<p>
								<a href="#" class="button button-outline"><i class="fa fa-heart"></i> Share your love</a>
								<a href="#" class="button button-outline button-outline-primary"><i class="fa fa-heart"></i> Share your love</a>
								<a href="#" class="button button-outline button-outline-success"><i class="fa fa-heart"></i> Share your love</a>
								<a href="#" class="button button-outline button-outline-error"><i class="fa fa-heart"></i> Share your love</a>
								<a href="#" class="button button-outline button-outline-warning"><i class="fa fa-heart"></i> Share your love</a>
							</p>

							<h2 class="title">Button Types</h2>

							<table class="table">
								<tr>
									<th class="button-th"><a href="#" class="button button-pill">I'm a pill</a></th>
									<td><small>Pill Button</small><br>Beautiful rounded borders, so rounded the button look like a pill. Apply the class <code>.button-pill</code> to get the pill.</td>
								</tr>
								<tr>
									<th class="button-th"><a href="#" class="button button-square">I'm not rounded</a></th>
									<td><small>Square Button</small><br>No rounded borders, sharp and solid. Apply the class <code>.button-square</code> to get the square.</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</section>
		</div>

		<%= app.partials.footer() %>
	</script>

	<script type="text/template" id="page-forms">
		<%= app.partials.header() %>

		<div class="site-content content-documentation">
			<section class="block block-intro">
				<div class="inner">
					<div class="margins">
						<div class="the-content">
							<h2 class="block-title">Chimplate Forms</h2>
						</div>
					</div>
				</div>
			</section>

			<section class="block block-example">
				<div class="inner">
					<div class="margins">
						<div class="the-content">
							<h2 class="title">Supported tags</h2>
							<p>Our great boilerplate code supports all the common for tags</p>

							<div class="form-group">
								<label for="" class="control-label">Input</label>
								<input type="text" name="" id="" class="form-control input-block">
							</div>
							<div class="form-group">
								<label for="" class="control-label">Select</label>
								<select name="" id="" class="form-control input-block"></select>
							</div>
							<div class="form-group">
								<label for="" class="control-label">Textarea</label>
								<textarea name="" id="" class="form-control input-block"></textarea>
							</div>
							<!-- <div class="form-group">
								<div class="checkbox">
									<label for=""><input type="checkbox" name="" id=""> Checkbox</label>
								</div>
							</div>
							<div class="form-group">
								<div class="radio">
									<label for=""><input type="radio" name="" id=""> Radio button</label>
								</div>
							</div> -->
							<br>

							<h2 class="title">Element Heights</h2>
							<p>One of the trickiest thing with form controls is to standarize them in style, specially in height.</p>

							<div class="form-group">
								<input type="text" class="form-control form-control-xlarge" placeholder="This is an input">
								<select class="form-control form-control-xlarge">
									<option value="">This is a select</option>
								</select>
								<button class="button button-xlarge">Button</button>
							</div>

							<div class="form-group">
								<input type="text" class="form-control form-control-large" placeholder="This is an input">
								<select class="form-control form-control-large">
									<option value="">This is a select</option>
								</select>
								<button class="button button-large">Button</button>
							</div>

							<div class="form-group">
								<input type="text" class="form-control" placeholder="This is an input">
								<select class="form-control">
									<option value="">This is a select</option>
								</select>
								<button class="button">Button</button>
							</div>

							<div class="form-group">
								<input type="text" class="form-control form-control-small" placeholder="This is an input">
								<select class="form-control form-control-small">
									<option value="">This is a select</option>
								</select>
								<button class="button button-small">Button</button>
							</div>

							<div class="form-group">
								<input type="text" class="form-control form-control-xsmall" placeholder="This is an input">
								<select class="form-control form-control-xsmall">
									<option value="">This is a select</option>
								</select>
								<button class="button button-xsmall">Button</button>
							</div>
							<br>

							<h2 class="title">Validation states</h2>
							<p></p>
							<div class="form-group has-error">
								<label for="" class="control-label">Enter your email</label>
								<input type="text" name="" id="" class="form-control input-block" value="test.mailinator.com">
							</div>
							<div class="form-group has-success">
								<label for="" class="control-label">Enter your email</label>
								<input type="text" name="" id="" class="form-control input-block" value="test@mailinator.com">
							</div>
							<br>

							<h2 class="title">Help and feedback blocks</h2>
							<p>Help-blocks allow you to provide additional information to your users</p>
							<div class="form-group">
								<input type="text" name="" id="" class="form-control input-block">
								<div class="help-block">This is a help block</div>
							</div>

							<p>Feedback-blocks are intended to show validation details, for example "Please enter a valid e-mail address" or similar messages</p>
							<div class="form-group has-error">
								<input type="text" name="" id="" class="form-control input-block">
								<div class="feedback-block">This is a feedback block</div>
							</div>
							<div class="form-group has-success">
								<input type="text" name="" id="" class="form-control input-block">
								<div class="feedback-block">This is a feedback block</div>
							</div>
							<br>
						</div>
					</div>
				</div>
			</section>
		</div>

		<%= app.partials.footer() %>
	</script>

	<script type="text/template" id="page-other">
		<%= app.partials.header() %>

		<div class="site-content">

			<section class="block block-intro">
				<div class="inner">
					<div class="margins">
						<div class="the-content text-center">
							<h2 class="block-title">This is other page</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, quibusdam? Quos aspernatur, neque repellendus, rem fuga provident laudantium pariatur illum velit at voluptatum dolore voluptates quis rerum quam consequuntur mollitia quo blanditiis quidem amet asperiores!</p>
							<p>Dolore quia, iusto ea minus numquam cumque pariatur temporibus quod eveniet officia, aspernatur vero. Commodi minus laudantium itaque alias facilis, veniam corporis laborum facere, nemo in tempora quia, accusantium ducimus eaque minima placeat cumque repudiandae.</p>
							<p>Excepturi atque voluptates eaque laudantium impedit est sint, dolore ea quis, repellat modi ducimus eum aut. Nostrum itaque nam ex doloribus fugit neque beatae odio, similique maiores iure, quidem! Officiis, aspernatur animi magni esse voluptatum.</p>
						</div>
					</div>
				</div>
			</section>

		</div>

		<%= app.partials.footer() %>
	</script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.0/vivus.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.ui.min.js"></script>
	<script type="text/javascript" src="assets/scripts/ladybug2.js"></script>
	<script type="text/javascript" src="assets/scripts/documentation.js"></script>
</body>
</html>