/*				   ________    _           ____  __      __
   ▀▀▀▀▀▀▀▀▀	  / ____/ /_  (_)___ ___  / __ \/ /___ _/ /____
 █ ▀▀▀▀ ▀▀▀▀ █	 / /   / __ \/ / __ `__ \/ /_/ / / __ `/ __/ _ \
 ▀ █ ▀▀▀▀▀ █ ▀	/ /___/ / / / / / / / / / ____/ / /_/ / /_/  __/
   ▀▀▀▀▀▀▀▀▀	\____/_/ /_/_/_/ /_/ /_/_/   /_/\__,_/\__/\___/
																 */
/*				 _    __           _       __    __
   ▀▀▀▀▀▀▀▀▀	| |  / /___ ______(_)___ _/ /_  / /__  _____
 █ ▀▀▀▀ ▀▀▀▀ █	| | / / __ `/ ___/ / __ `/ __ \/ / _ \/ ___/
 ▀ █ ▀▀▀▀▀ █ ▀	| |/ / /_/ / /  / / /_/ / /_/ / /  __(__  )
   ▀▀▀▀▀▀▀▀▀	|___/\__,_/_/  /_/\__,_/_.___/_/\___/____/
				                                            */
/**
	=======================================
	INDEX =================================
	=======================================

	+ Variables
	+ Colors

	=======================================
**/
/* Variables */
/* ---------------------------------------------------------------------------------------------- */
/* Colors */
/* ---------------------------------------------------------------------------------------------- */
/*				    __  ____      _
   ▀▀▀▀▀▀▀▀▀	   /  |/  (_)  __(_)___  _____
 █ ▀▀▀▀ ▀▀▀▀ █	  / /|_/ / / |/_/ / __ \/ ___/
 ▀ █ ▀▀▀▀▀ █ ▀	 / /  / / />  </ / / / (__  )
   ▀▀▀▀▀▀▀▀▀	/_/  /_/_/_/|_/_/_/ /_/____/
											   */
/**
	=======================================
	INDEX =================================
	=======================================

	+ Vendor Prefixes
	+ Helpers

	=======================================
**/
/* Vendor Prefixes */
/* ---------------------------------------------------------------------------------------------- */
/* Helpers */
/* ---------------------------------------------------------------------------------------------- */
.overlay-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Buttons */
/* ---------------------------------------------------------------------------------------------- */
/*				    ____
   ▀▀▀▀▀▀▀▀▀	   / __ )____ _________
 █ ▀▀▀▀ ▀▀▀▀ █	  / __  / __ `/ ___/ _ \
 ▀ █ ▀▀▀▀▀ █ ▀	 / /_/ / /_/ (__  )  __/
   ▀▀▀▀▀▀▀▀▀	/_____/\__,_/____/\___/
										 */
/**
	=======================================
	INDEX =================================
	=======================================

	+ Generals
	+ Clear Fixes
	+ Responsive Helpers
	+ The Content
	+ Helpers

	=======================================
**/
/* Generals */
/*------------------------------------------------------------------------------------------------*/
::-moz-selection,
::selection {
  background: #2980B9;
  text-shadow: none;
}
body {
  background-color: white;
  color: #333;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #CCC;
  margin: 15px 0;
  padding: 0;
}
a {
  color: #2980B9;
  text-decoration: none;
}
a:hover {
  color: #20638f;
}
/* Remove the gap between audio, canvas, iframes, */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  font-family: monospace;
  font-size: inherit;
  white-space: pre-wrap;
  padding: 15px;
  margin-bottom: 15px;
  background: #F1F1F1;
  color: #888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
code {
  font-family: monospace;
  font-size: inherit;
  padding: 2px 4px;
  background: #F1F1F1;
  color: #888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
div,
header,
footer,
article,
section {
  display: block;
  position: relative;
}
small,
.font-small {
  font-size: 0.8em;
}
textarea {
  resize: vertical;
}
/* Clear Fixes */
/*------------------------------------------------------------------------------------------------*/
br.clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 0 0;
}
.cf {
  *zoom: 1;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
/* Responsive Helpers */
/* ---------------------------------------------------------------------------------------------- */
/* SHOW */
/* ---------------------------------------------------------------------------------------------- */
/*
 SHOW | M  T  D  W
------+-----------
   M  | 0  X  X  X
   T  | X  0  X  X
   D  | X  X  0  X
   W  | X  X  X  0

 */
/* ┌─┐┬ ┬┌─┐┬ ┬  ┌┬┐┌─┐┌┐ ┬┬  ┌─┐
   └─┐├─┤│ ││││  ││││ │├┴┐││  ├┤
   └─┘┴ ┴└─┘└┴┘  ┴ ┴└─┘└─┘┴┴─┘└─┘ */
.show-mobile {
  display: block !important;
}
@media (min-width: 768px) {
  .show-mobile {
    display: none !important;
  }
}
.show-mobile-inline {
  display: inline !important;
}
@media (min-width: 768px) {
  .show-mobile-inline {
    display: none !important;
  }
}
.show-mobile-inline-block {
  display: inline-block !important;
  *display: inline !important;
  *zoom: 1 !important;
}
@media (min-width: 768px) {
  .show-mobile-inline-block {
    display: none !important;
  }
}
.show-mobile-table {
  display: table !important;
}
@media (min-width: 768px) {
  .show-mobile-table {
    display: none !important;
  }
}
.show-mobile-table-cell {
  display: table-cell !important;
}
@media (min-width: 768px) {
  .show-mobile-table-cell {
    display: none !important;
  }
}
/* ┌─┐┬ ┬┌─┐┬ ┬  ┌┬┐┌─┐┌┐ ┬  ┌─┐┌┬┐
   └─┐├─┤│ ││││   │ ├─┤├┴┐│  ├┤  │
   └─┘┴ ┴└─┘└┴┘   ┴ ┴ ┴└─┘┴─┘└─┘ ┴ */
.show-tablet {
  display: none !important;
}
@media (min-width: 768px) {
  .show-tablet {
    display: block !important;
  }
}
@media (min-width: 1000px) {
  .show-tablet {
    display: none !important;
  }
}
.show-tablet-inline {
  display: none !important;
}
@media (min-width: 768px) {
  .show-tablet-inline {
    display: inline !important;
  }
}
@media (min-width: 1000px) {
  .show-tablet-inline {
    display: none !important;
  }
}
.show-tablet-inline-block {
  display: none !important;
}
@media (min-width: 768px) {
  .show-tablet-inline-block {
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
  }
}
@media (min-width: 1000px) {
  .show-tablet-inline-block {
    display: none !important;
  }
}
.show-tablet-table {
  display: none !important;
}
@media (min-width: 768px) {
  .show-tablet-table {
    display: table !important;
  }
}
@media (min-width: 1000px) {
  .show-tablet-table {
    display: none !important;
  }
}
.show-tablet-table-cell {
  display: none !important;
}
@media (min-width: 768px) {
  .show-tablet-table-cell {
    display: table-cell !important;
  }
}
@media (min-width: 1000px) {
  .show-tablet-table-cell {
    display: none !important;
  }
}
/* ┌─┐┬ ┬┌─┐┬ ┬  ┌┬┐┌─┐┌─┐┬┌─┌┬┐┌─┐┌─┐
   └─┐├─┤│ ││││   ││├┤ └─┐├┴┐ │ │ │├─┘
   └─┘┴ ┴└─┘└┴┘  ─┴┘└─┘└─┘┴ ┴ ┴ └─┘┴  */
.show-desktop {
  display: none !important;
}
@media (min-width: 768px) {
  .show-desktop {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .show-desktop {
    display: block !important;
  }
}
@media (min-width: 1280px) {
  .show-desktop {
    display: none !important;
  }
}
.show-desktop-inline {
  display: none !important;
}
@media (min-width: 768px) {
  .show-desktop-inline {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .show-desktop-inline {
    display: inline !important;
  }
}
@media (min-width: 1280px) {
  .show-desktop-inline {
    display: none !important;
  }
}
.show-desktop-inline-block {
  display: none !important;
}
@media (min-width: 768px) {
  .show-desktop-inline-block {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .show-desktop-inline-block {
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
  }
}
@media (min-width: 1280px) {
  .show-desktop-inline-block {
    display: none !important;
  }
}
.show-desktop-table {
  display: none !important;
}
@media (min-width: 768px) {
  .show-desktop-table {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .show-desktop-table {
    display: table !important;
  }
}
@media (min-width: 1280px) {
  .show-desktop-table {
    display: none !important;
  }
}
.show-desktop-table-cell {
  display: none !important;
}
@media (min-width: 768px) {
  .show-desktop-table-cell {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .show-desktop-table-cell {
    display: table-cell !important;
  }
}
@media (min-width: 1280px) {
  .show-desktop-table-cell {
    display: none !important;
  }
}
/* ┌─┐┬ ┬┌─┐┬ ┬  ┬ ┬┬┌┬┐┌─┐
   └─┐├─┤│ ││││  ││││ ││├┤
   └─┘┴ ┴└─┘└┴┘  └┴┘┴─┴┘└─┘ */
.show-wide {
  display: none !important;
}
@media (min-width: 1280px) {
  .show-wide {
    display: block !important;
  }
}
.show-wide-inline {
  display: none !important;
}
@media (min-width: 1280px) {
  .show-wide-inline {
    display: inline !important;
  }
}
.show-wide-inline-block {
  display: none !important;
}
@media (min-width: 1280px) {
  .show-wide-inline-block {
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
  }
}
.show-wide-table {
  display: none !important;
}
@media (min-width: 1280px) {
  .show-wide-table {
    display: table !important;
  }
}
.show-wide-table-cell {
  display: none !important;
}
@media (min-width: 1280px) {
  .show-wide-table-cell {
    display: table-cell !important;
  }
}
/* HIDE */
/* ---------------------------------------------------------------------------------------------- */
/*
 HIDE | M  T  D  W
------+-----------
   M  | X  0  0  0
   T  | 0  X  0  0
   D  | 0  0  X  0
   W  | 0  0  0  X

 */
/* ┬ ┬┬┌┬┐┌─┐  ┌┬┐┌─┐┌┐ ┬┬  ┌─┐
   ├─┤│ ││├┤   ││││ │├┴┐││  ├┤
   ┴ ┴┴─┴┘└─┘  ┴ ┴└─┘└─┘┴┴─┘└─┘ */
.hide-mobile {
  display: none !important;
}
@media (min-width: 768px) {
  .hide-mobile {
    display: block !important;
  }
}
.hide-mobile-inline {
  display: none !important;
}
@media (min-width: 768px) {
  .hide-mobile-inline {
    display: inline !important;
  }
}
.hide-mobile-inline-block {
  display: none !important;
}
@media (min-width: 768px) {
  .hide-mobile-inline-block {
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
  }
}
.hide-mobile-table {
  display: none !important;
}
@media (min-width: 768px) {
  .hide-mobile-table {
    display: table !important;
  }
}
.hide-mobile-table-cell {
  display: none !important;
}
@media (min-width: 768px) {
  .hide-mobile-table-cell {
    display: table-cell !important;
  }
}
/* ┬ ┬┬┌┬┐┌─┐  ┌┬┐┌─┐┌┐ ┬  ┌─┐┌┬┐
   ├─┤│ ││├┤    │ ├─┤├┴┐│  ├┤  │
   ┴ ┴┴─┴┘└─┘   ┴ ┴ ┴└─┘┴─┘└─┘ ┴ */
.hide-tablet {
  display: block !important;
}
@media (min-width: 768px) {
  .hide-tablet {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .hide-tablet {
    display: block !important;
  }
}
.hide-tablet-inline {
  display: inline !important;
}
@media (min-width: 768px) {
  .hide-tablet-inline {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .hide-tablet-inline {
    display: inline !important;
  }
}
.hide-tablet-inline-block {
  display: inline-block !important;
  *display: inline !important;
  *zoom: 1 !important;
}
@media (min-width: 768px) {
  .hide-tablet-inline-block {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .hide-tablet-inline-block {
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
  }
}
.hide-tablet-table {
  display: table !important;
}
@media (min-width: 768px) {
  .hide-tablet-table {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .hide-tablet-table {
    display: table !important;
  }
}
.hide-tablet-table-cell {
  display: table-cell !important;
}
@media (min-width: 768px) {
  .hide-tablet-table-cell {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .hide-tablet-table-cell {
    display: table-cell !important;
  }
}
/* ┬ ┬┬┌┬┐┌─┐  ┌┬┐┌─┐┌─┐┬┌─┌┬┐┌─┐┌─┐
   ├─┤│ ││├┤    ││├┤ └─┐├┴┐ │ │ │├─┘
   ┴ ┴┴─┴┘└─┘  ─┴┘└─┘└─┘┴ ┴ ┴ └─┘┴  */
.hide-desktop {
  display: block !important;
}
@media (min-width: 768px) {
  .hide-desktop {
    display: block !important;
  }
}
@media (min-width: 1000px) {
  .hide-desktop {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-desktop {
    display: none !important;
  }
}
.hide-desktop-inline {
  display: inline !important;
}
@media (min-width: 768px) {
  .hide-desktop-inline {
    display: inline !important;
  }
}
@media (min-width: 1000px) {
  .hide-desktop-inline {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-desktop-inline {
    display: none !important;
  }
}
.hide-desktop-inline-block {
  display: inline-block !important;
  *display: inline !important;
  *zoom: 1 !important;
}
@media (min-width: 768px) {
  .hide-desktop-inline-block {
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
  }
}
@media (min-width: 1000px) {
  .hide-desktop-inline-block {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-desktop-inline-block {
    display: none !important;
  }
}
.hide-desktop-table {
  display: table !important;
}
@media (min-width: 768px) {
  .hide-desktop-table {
    display: table !important;
  }
}
@media (min-width: 1000px) {
  .hide-desktop-table {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-desktop-table {
    display: none !important;
  }
}
.hide-desktop-table-cell {
  display: table-cell !important;
}
@media (min-width: 768px) {
  .hide-desktop-table-cell {
    display: table-cell !important;
  }
}
@media (min-width: 1000px) {
  .hide-desktop-table-cell {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-desktop-table-cell {
    display: none !important;
  }
}
/* ┬ ┬┬┌┬┐┌─┐  ┬ ┬┬┌┬┐┌─┐
   ├─┤│ ││├┤   ││││ ││├┤
   ┴ ┴┴─┴┘└─┘  └┴┘┴─┴┘└─┘ */
.hide-desktop {
  display: block !important;
}
@media (min-width: 768px) {
  .hide-desktop {
    display: block !important;
  }
}
@media (min-width: 1000px) {
  .hide-desktop {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-desktop {
    display: none !important;
  }
}
.hide-desktop-inline {
  display: inline !important;
}
@media (min-width: 768px) {
  .hide-desktop-inline {
    display: inline !important;
  }
}
@media (min-width: 1000px) {
  .hide-desktop-inline {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-desktop-inline {
    display: none !important;
  }
}
.hide-desktop-inline-block {
  display: inline-block !important;
  *display: inline !important;
  *zoom: 1 !important;
}
@media (min-width: 768px) {
  .hide-desktop-inline-block {
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
  }
}
@media (min-width: 1000px) {
  .hide-desktop-inline-block {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-desktop-inline-block {
    display: none !important;
  }
}
.hide-desktop-table {
  display: table !important;
}
@media (min-width: 768px) {
  .hide-desktop-table {
    display: table !important;
  }
}
@media (min-width: 1000px) {
  .hide-desktop-table {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-desktop-table {
    display: none !important;
  }
}
.hide-desktop-table-cell {
  display: table-cell !important;
}
@media (min-width: 768px) {
  .hide-desktop-table-cell {
    display: table-cell !important;
  }
}
@media (min-width: 1000px) {
  .hide-desktop-table-cell {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-desktop-table-cell {
    display: none !important;
  }
}
/* Hidden Up / Down */
/* ---------------------------------------------------------------------------------------------- */
/*
                    | M  T  D  W
--------------------+-----------
  .hide-mobile-down | X  0  0  0
  .hide-tablet-down | X  X  0  0
 .hide-desktop-down | X  X  X  0
    .hide-wide-down | X  X  X  X
--------------------+-----------
    .hide-mobile-up | X  X  X  X
    .hide-tablet-up | 0  X  X  X
   .hide-desktop-up | 0  0  X  X
      .hide-wide-up | 0  0  0  X
 */
.hide-mobile-down {
  display: none;
}
@media (min-width: 768px) {
  .hide-mobile-down {
    display: block;
  }
}
.hide-tablet-down {
  display: none;
}
@media (min-width: 1000px) {
  .hide-tablet-down {
    display: block;
  }
}
.hide-desktop-down {
  display: none;
}
@media (min-width: 1280px) {
  .hide-desktop-down {
    display: block;
  }
}
.hide-wide-down,
.hide-mobile-up {
  display: none;
}
.hide-tablet-up {
  display: block;
}
@media (min-width: 1000px) {
  .hide-tablet-up {
    display: none;
  }
}
.hide-desktop-up {
  display: block;
}
@media (min-width: 1280px) {
  .hide-desktop-up {
    display: none;
  }
}
.hide-wide-up {
  display: block;
}
/* Media Types */
/* ---------------------------------------------------------------------------------------------- */
.show-print {
  display: none;
}
@media print {
  .show-print {
    display: block;
  }
}
.show-print-inline {
  display: none;
}
@media print {
  .show-print-inline {
    display: inline;
  }
}
.show-print-inline-block {
  display: none;
}
@media print {
  .show-print-inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
}
@media print {
  .hide-print {
    display: none;
  }
}
/* The Content */
/*------------------------------------------------------------------------------------------------*/
.the-content {
  line-height: 1.2;
  word-wrap: break-word;
}
.the-content img {
  max-width: 100%;
  height: auto;
}
.the-content p {
  font-weight: inherit;
  margin-bottom: 15px;
}
.the-content h1,
.the-content .h1,
.the-content h2,
.the-content .h2,
.the-content h3,
.the-content .h3,
.the-content h4,
.the-content .h4,
.the-content h5,
.the-content .h5,
.the-content h6,
.the-content .h6 {
  line-height: 1.2;
  margin-bottom: 15px;
  font-weight: inherit;
}
.the-content h1,
.the-content .h1 {
  font-size: 2.0736em;
}
.the-content h2,
.the-content .h2 {
  font-size: 1.728em;
}
.the-content h3,
.the-content .h3 {
  font-size: 1.44em;
}
.the-content h4,
.the-content .h4 {
  font-size: 1.2em;
}
.the-content h5,
.the-content .h5 {
  font-size: 1em;
}
.the-content h6,
.the-content .h6 {
  font-size: 1em;
}
.the-content h1 small,
.the-content .h1 small,
.the-content h2 small,
.the-content .h2 small,
.the-content h3 small,
.the-content .h3 small,
.the-content h4 small,
.the-content .h4 small,
.the-content h5 small,
.the-content .h5 small,
.the-content h6 small,
.the-content .h6 small {
  font-size: 75%;
}
.the-content ol,
.the-content ul,
.the-content dt {
  margin-left: 30px;
  margin-bottom: 15px;
}
.the-content li,
.the-content dt {
  margin-bottom: 15px;
}
.the-content a:hover {
  text-decoration: underline;
}
.the-content .alignleft,
.the-content .alignright,
.the-content .aligncenter,
.the-content .alignnone {
  display: block;
  margin: 15px auto;
}
.the-content .alignnone {
  float: none;
  display: none;
}
@media (min-width: 768px) {
  .the-content .alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .the-content .alignright {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .the-content .aligncenter {
    display: block;
    margin: 15px auto;
  }
}
/*				   ______     _     __
   ▀▀▀▀▀▀▀▀▀	  / ____/____(_)___/ /
 █ ▀▀▀▀ ▀▀▀▀ █	 / / __/ ___/ / __  /
 ▀ █ ▀▀▀▀▀ █ ▀	/ /_/ / /  / / /_/ /
   ▀▀▀▀▀▀▀▀▀	\____/_/  /_/\__,_/
									   */
/**
	=======================================
	INDEX =================================
	=======================================

	+ Inner
	+ Responsive grid

	=======================================
**/
/* Inner */
/* ---------------------------------------------------------------------------------------------- */
.inner {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 1000px) {
  .inner {
    width: 1000px;
    max-width: none;
  }
}
@media screen and (min-width: 1280px) {
  .inner {
    width: 1280px;
  }
}
/* Responsive grid */
/*------------------------------------------------------------------------------------------------*/
.row .col {
  /* box-sizing */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* background-clip */
  -webkit-background-clip: padding-box !important;
  -moz-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
.row-sm {
  *zoom: 1;
  margin-left: -15px;
  margin-right: -15px;
}
.row-sm:before,
.row-sm:after {
  content: " ";
  display: table;
}
.row-sm:after {
  clear: both;
}
.row-sm .col {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.row-sm.row-10 {
  margin: 0 -10px;
}
.row-sm.row-10 > .col {
  padding-left: 10px;
  padding-right: 10px;
}
.row-sm.row-5 {
  margin: 0 -5px;
}
.row-sm.row-5 > .col {
  padding-left: 5px;
  padding-right: 5px;
}
.row-sm.row-collapse {
  margin: 0 0;
}
.row-sm.row-collapse > .col {
  padding-left: 0;
  padding-right: 0;
}
.row-sm .col.col-sm-1 {
  width: 8.33333333%;
}
.row-sm .col.col-sm-2 {
  width: 16.66666667%;
}
.row-sm .col.col-sm-3 {
  width: 25%;
}
.row-sm .col.col-sm-4 {
  width: 33.33333333%;
}
.row-sm .col.col-sm-5 {
  width: 41.66666667%;
}
.row-sm .col.col-sm-6 {
  width: 50%;
}
.row-sm .col.col-sm-7 {
  width: 58.33333333%;
}
.row-sm .col.col-sm-8 {
  width: 66.66666667%;
}
.row-sm .col.col-sm-9 {
  width: 75%;
}
.row-sm .col.col-sm-10 {
  width: 83.33333333%;
}
.row-sm .col.col-sm-11 {
  width: 91.66666667%;
}
.row-sm .col.col-sm-12 {
  margin-left: 0;
  width: 100%;
}
.row-sm .col.col-sm-fifth {
  width: 20%;
}
.row-sm .col.col-sm-seventh {
  width: 14.28571429%;
}
.row-sm .col.col-sm-eighth {
  width: 12.5%;
}
.row-sm .col.col-sm-ninth {
  width: 11.11111111%;
}
.row-sm .col.col-sm-offset-1 {
  margin-left: 8.33333333%;
}
.row-sm .col.col-sm-offset-2 {
  margin-left: 16.66666667%;
}
.row-sm .col.col-sm-offset-3 {
  margin-left: 25%;
}
.row-sm .col.col-sm-offset-4 {
  margin-left: 33.33333333%;
}
.row-sm .col.col-sm-offset-5 {
  margin-left: 41.66666667%;
}
.row-sm .col.col-sm-offset-6 {
  margin-left: 50%;
}
.row-sm .col.col-sm-offset-7 {
  margin-left: 58.33333333%;
}
.row-sm .col.col-sm-offset-8 {
  margin-left: 66.66666667%;
}
.row-sm .col.col-sm-offset-9 {
  margin-left: 75%;
}
.row-sm .col.col-sm-offset-10 {
  margin-left: 83.33333333%;
}
.row-sm .col.col-sm-offset-11 {
  margin-left: 91.66666667%;
}
.row-sm .col.col-sm-offset-12 {
  margin-left-left: 0;
}
@media screen and (min-width: 768px) {
  .row-md {
    *zoom: 1;
    margin-left: -15px;
    margin-right: -15px;
  }
  .row-md:before,
  .row-md:after {
    content: " ";
    display: table;
  }
  .row-md:after {
    clear: both;
  }
  .row-md .col {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .row-md.row-10 {
    margin: 0 -10px;
  }
  .row-md.row-10 > .col {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row-md.row-5 {
    margin: 0 -5px;
  }
  .row-md.row-5 > .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .row-md.row-collapse {
    margin: 0 0;
  }
  .row-md.row-collapse > .col {
    padding-left: 0;
    padding-right: 0;
  }
  .row-md .col.col-md-1 {
    width: 8.33333333%;
  }
  .row-md .col.col-md-2 {
    width: 16.66666667%;
  }
  .row-md .col.col-md-3 {
    width: 25%;
  }
  .row-md .col.col-md-4 {
    width: 33.33333333%;
  }
  .row-md .col.col-md-5 {
    width: 41.66666667%;
  }
  .row-md .col.col-md-6 {
    width: 50%;
  }
  .row-md .col.col-md-7 {
    width: 58.33333333%;
  }
  .row-md .col.col-md-8 {
    width: 66.66666667%;
  }
  .row-md .col.col-md-9 {
    width: 75%;
  }
  .row-md .col.col-md-10 {
    width: 83.33333333%;
  }
  .row-md .col.col-md-11 {
    width: 91.66666667%;
  }
  .row-md .col.col-md-12 {
    margin-left: 0;
    width: 100%;
  }
  .row-md .col.col-md-fifth {
    width: 20%;
  }
  .row-md .col.col-md-seventh {
    width: 14.28571429%;
  }
  .row-md .col.col-md-eighth {
    width: 12.5%;
  }
  .row-md .col.col-md-ninth {
    width: 11.11111111%;
  }
  .row-md .col.col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .row-md .col.col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .row-md .col.col-md-offset-3 {
    margin-left: 25%;
  }
  .row-md .col.col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .row-md .col.col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .row-md .col.col-md-offset-6 {
    margin-left: 50%;
  }
  .row-md .col.col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .row-md .col.col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .row-md .col.col-md-offset-9 {
    margin-left: 75%;
  }
  .row-md .col.col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .row-md .col.col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .row-md .col.col-md-offset-12 {
    margin-left-left: 0;
  }
}
@media screen and (min-width: 1000px) {
  .row {
    *zoom: 1;
    margin-left: -15px;
    margin-right: -15px;
  }
  .row:before,
  .row:after {
    content: " ";
    display: table;
  }
  .row:after {
    clear: both;
  }
  .row.row-10 {
    margin: 0 -10px;
  }
  .row.row-10 > .col {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row.row-5 {
    margin: 0 -5px;
  }
  .row.row-5 > .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .row.row-collapse {
    margin: 0 0;
  }
  .row.row-collapse > .col {
    padding-left: 0;
    padding-right: 0;
  }
  .row .col {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .row .col.col-1 {
    width: 8.33333333%;
  }
  .row .col.col-2 {
    width: 16.66666667%;
  }
  .row .col.col-3 {
    width: 25%;
  }
  .row .col.col-4 {
    width: 33.33333333%;
  }
  .row .col.col-5 {
    width: 41.66666667%;
  }
  .row .col.col-6 {
    width: 50%;
  }
  .row .col.col-7 {
    width: 58.33333333%;
  }
  .row .col.col-8 {
    width: 66.66666667%;
  }
  .row .col.col-9 {
    width: 75%;
  }
  .row .col.col-10 {
    width: 83.33333333%;
  }
  .row .col.col-11 {
    width: 91.66666667%;
  }
  .row .col.col-12 {
    margin-left: 0;
    width: 100%;
  }
  .row .col.col-fifth {
    width: 20%;
  }
  .row .col.col-seventh {
    width: 14.28571429%;
  }
  .row .col.col-eighth {
    width: 12.5%;
  }
  .row .col.col-ninth {
    width: 11.11111111%;
  }
  .row .col.col-offset-1 {
    margin-left: 8.33333333%;
  }
  .row .col.col-offset-2 {
    margin-left: 16.66666667%;
  }
  .row .col.col-offset-3 {
    margin-left: 25%;
  }
  .row .col.col-offset-4 {
    margin-left: 33.33333333%;
  }
  .row .col.col-offset-5 {
    margin-left: 41.66666667%;
  }
  .row .col.col-offset-6 {
    margin-left: 50%;
  }
  .row .col.col-offset-7 {
    margin-left: 58.33333333%;
  }
  .row .col.col-offset-8 {
    margin-left: 66.66666667%;
  }
  .row .col.col-offset-9 {
    margin-left: 75%;
  }
  .row .col.col-offset-10 {
    margin-left: 83.33333333%;
  }
  .row .col.col-offset-11 {
    margin-left: 91.66666667%;
  }
  .row .col.col-offset-12 {
    margin-left-left: 0;
  }
}
/*				    ____        __  __
   ▀▀▀▀▀▀▀▀▀	   / __ )__  __/ /_/ /_____  ____  _____
 █ ▀▀▀▀ ▀▀▀▀ █	  / __  / / / / __/ __/ __ \/ __ \/ ___/
 ▀ █ ▀▀▀▀▀ █ ▀	 / /_/ / /_/ / /_/ /_/ /_/ / / / (__  )
   ▀▀▀▀▀▀▀▀▀	/_____/\__,_/\__/\__/\____/_/ /_/____/
														 */
/**
	=======================================
	INDEX =================================
	=======================================

	+ Core
	+ Styles

	=======================================
**/
/* Core */
/*------------------------------------------------------------------------------------------------*/
button {
  overflow: visible;
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.button {
  /* Structure */
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  /* User Select */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/* Styles */
/*------------------------------------------------------------------------------------------------*/
.button {
  text-transform: none;
  font-family: inherit;
  font-size: 100%;
  *font-size: 90%;
  /*IE 6/7 - To reduce IE's oversized button text*/
  *overflow: visible;
  /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
  padding: 0.429em 1.2em;
  color: white;
  /* rgba not supported (IE 8) */
  *color: white;
  /* IE 6 & 7 */
  border: 1px solid #7F8C8D;
  background-color: #7F8C8D;
  text-decoration: none !important;
  border-radius: 2px;
  font-weight: 300;
  min-height: 2.4em;
  line-height: 1.542em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border 0.25s, color 0.25s, background-color 0.25s;
  -moz-transition: border 0.25s, color 0.25s, background-color 0.25s;
  -ms-transition: border 0.25s, color 0.25s, background-color 0.25s;
  -o-transition: border 0.25s, color 0.25s, background-color 0.25s;
  transition: border 0.25s, color 0.25s, background-color 0.25s;
}
.button:hover,
.button.button-hover {
  text-decoration: none !important;
  background-color: #a7b0b1;
  color: white;
}
.button:focus {
  outline: 0;
}
.button[disabled],
.button.button-disabled,
.button.button-disabled:hover {
  border: none;
  background-image: none;
  cursor: not-allowed;
  box-shadow: none;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.button.button-hidden {
  display: none;
}
.button.button-block {
  display: block;
  width: 100%;
}
.button.button-link {
  color: #2980B9;
  background: none;
  border-color: transparent;
}
.button.button-link:hover {
  color: #20638f;
  background: transparent;
  text-decoration: underline !important;
}
.button-primary,
.button-selected {
  background-color: #2980B9;
  border-color: #2980B9;
  color: white;
}
.button-primary:hover,
.button-selected:hover {
  background-color: #55a5d9;
  border-color: #2980B9;
  color: white;
}
.button-success {
  background-color: #27AE60;
  border-color: #27AE60;
  color: white;
}
.button-success:hover {
  background-color: #4bd786;
  border-color: #27AE60;
  color: white;
}
.button-error {
  background-color: #D35400;
  border-color: #D35400;
  color: white;
}
.button-error:hover {
  background-color: #ff7921;
  border-color: #D35400;
  color: white;
}
.button-warning {
  background-color: #C0392B;
  border-color: #C0392B;
  color: white;
}
.button-warning:hover {
  background-color: #db695d;
  border-color: #C0392B;
  color: white;
}
.button-facebook {
  background-color: #2D5F9A;
  border-color: #2D5F9A;
  color: white;
}
.button-facebook:hover {
  background-color: #4a84ca;
  border-color: #2D5F9A;
  color: white;
}
.button-twitter {
  background-color: #55ACEE;
  border-color: #55ACEE;
  color: white;
}
.button-twitter:hover {
  background-color: #9bcef5;
  border-color: #55ACEE;
  color: white;
}
.button-linkedin {
  background-color: #2189BE;
  border-color: #2189BE;
  color: white;
}
.button-linkedin:hover {
  background-color: #4caee0;
  border-color: #2189BE;
  color: white;
}
.button-pinterest {
  background-color: #D11E16;
  border-color: #D11E16;
  color: white;
}
.button-pinterest:hover {
  background-color: #ec4f48;
  border-color: #D11E16;
  color: white;
}
.button-rss {
  background-color: #FF6600;
  border-color: #FF6600;
  color: white;
}
.button-rss:hover {
  background-color: #ff944d;
  border-color: #FF6600;
  color: white;
}
/* Sizes */
/* ---------------------------------------------------------------------------------------------- */
.button-xsmall {
  font-size: 70%;
}
.button-small {
  font-size: 85%;
}
.button-large {
  font-size: 125%;
}
.button-xlarge {
  font-size: 150%;
}
/* Borders */
/*------------------------------------------------------------------------------------------------*/
.button-square {
  border-radius: 0;
}
.button-pill {
  border-radius: 500px;
}
/* Outline Buttons */
/*------------------------------------------------------------------------------------------------*/
.button-outline {
  border-color: #7F8C8D;
  color: #7F8C8D;
  background-color: transparent !important;
  border-width: 1px;
  border-style: solid;
}
.button-outline:hover {
  background-color: #7F8C8D !important;
  color: white;
}
.button-outline.button-outline-primary {
  border-color: #2980B9;
  color: #2980B9;
  background-color: transparent !important;
  border-width: 1px;
  border-style: solid;
}
.button-outline.button-outline-primary:hover {
  background-color: #2980B9 !important;
  color: white;
}
.button-outline.button-outline-success {
  border-color: #27AE60;
  color: #27AE60;
  background-color: transparent !important;
  border-width: 1px;
  border-style: solid;
}
.button-outline.button-outline-success:hover {
  background-color: #27AE60 !important;
  color: white;
}
.button-outline.button-outline-error {
  border-color: #D35400;
  color: #D35400;
  background-color: transparent !important;
  border-width: 1px;
  border-style: solid;
}
.button-outline.button-outline-error:hover {
  background-color: #D35400 !important;
  color: white;
}
.button-outline.button-outline-warning {
  border-color: #C0392B;
  color: #C0392B;
  background-color: transparent !important;
  border-width: 1px;
  border-style: solid;
}
.button-outline.button-outline-warning:hover {
  background-color: #C0392B !important;
  color: white;
}
/*				    ______
   ▀▀▀▀▀▀▀▀▀	   / ____/___  _________ ___  _____
 █ ▀▀▀▀ ▀▀▀▀ █	  / /_  / __ \/ ___/ __ `__ \/ ___/
 ▀ █ ▀▀▀▀▀ █ ▀	 / __/ / /_/ / /  / / / / / (__  )
   ▀▀▀▀▀▀▀▀▀	/_/    \____/_/  /_/ /_/ /_/____/
													*/
/**
	=======================================
	INDEX =================================
	=======================================

	+ Core
	+ Form Group

	=======================================
**/
/* Core */
/*------------------------------------------------------------------------------------------------*/
.form-control {
  line-height: normal;
  vertical-align: middle;
  -webkit-user-drag: none;
  /* Structure */
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.form-control:disabled {
  cursor: not-allowed;
}
/* Form Group */
/* ---------------------------------------------------------------------------------------------- */
.form-group {
  margin-bottom: 10px;
}
.form-group .control-label {
  display: block;
  margin-bottom: 5px;
}
.form-group .form-control {
  text-transform: none;
  font-size: inherit;
  font-family: inherit;
  font-size: 100%;
  *font-size: 90%;
  /*IE 6/7 - To reduce IE's oversized button text*/
  *overflow: visible;
  /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
  vertical-align: middle;
  background: white;
  color: #333;
  border: 1px solid #CCC;
  padding: 0.429em;
  font-weight: 300;
  height: 2.4em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* border-radius */
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.form-group .form-control:disabled {
  background-color: #F1F1F1;
}
.form-group .form-control[readonly] {
  background-color: #f8f8f8;
}
.form-group .form-control:focus {
  border-color: #b3b3b3;
}
.form-group .form-control.form-control-xsmall {
  font-size: 70%;
}
.form-group .form-control.form-control-small {
  font-size: 85%;
}
.form-group .form-control.form-control-large {
  font-size: 125%;
}
.form-group .form-control.form-control-xlarge {
  font-size: 150%;
}
.form-group .form-control.input-block {
  width: 100%;
  display: block;
}
.form-group textarea.form-control {
  height: auto;
}
.form-group select.form-control {
  padding: 0.35em 0.429em;
}
.form-group .help-block,
.form-group .feedback-block {
  display: block;
  margin: 10px 0;
  color: #888;
}
.form-group .required {
  color: #C0392B;
}
.form-group.has-error .control-label,
.form-group.has-error .form-control,
.form-group.has-error .feedback-block {
  color: #C0392B;
}
.form-group.has-success .control-label,
.form-group.has-success .form-control,
.form-group.has-success .feedback-block {
  color: #27AE60;
}
.form-group.has-error .form-control {
  border-color: #C0392B;
}
.form-group.has-success .form-control {
  border-color: #27AE60;
}
/*
#TBD: Arreglar cosas de radios y check fucking boxes
.form-group .radio {

	padding-left: 16px;
}

.form-group .checkbox input[type=checkbox] {

	float: left;
	margin: 1px 0 0 -16px;
}

.form-group .radio input[type=radio] {

	float: left;
	margin: 1px 0 0 -16px;
}

.form-group .radio label,
.form-group .checkbox label {

	display: block;
	padding-left: 18px;
}

.form-group.has-error .radio label,
.form-group.has-error .checkbox label {

	color: @pomegranate;
}

.form-group.has-success .radio label,
.form-group.has-success .checkbox label {

	color: @nephritis;
}
*/
/*				  ______      __    __
   ▀▀▀▀▀▀▀▀▀	 /_  __/___ _/ /_  / /__  _____
 █ ▀▀▀▀ ▀▀▀▀ █	  / / / __ `/ __ \/ / _ \/ ___/
 ▀ █ ▀▀▀▀▀ █ ▀	 / / / /_/ / /_/ / /  __(__  )
   ▀▀▀▀▀▀▀▀▀	/_/  \__,_/_.___/_/\___/____/
				                                */
/* Core */
/*------------------------------------------------------------------------------------------------*/
table {
  max-width: 100%;
}
table.table {
  width: 100%;
  margin-bottom: 15px;
}
table.table th,
table.table td {
  padding: 10px 12px;
}
table.table > thead > tr > th,
table.table > tfoot > tr > th {
  text-align: left;
}
table.table > thead > tr,
table.table > tbody > tr {
  border-bottom: 1px solid #CCC;
}
table.table > thead > tr {
  border-bottom: 2px solid #CCC;
}
table.table > tfoot > tr {
  border-top: 2px solid #CCC;
}
table.table-border {
  border: 1px solid #CCC;
}
table.table-striped > tbody > tr:nth-child(even) > td {
  background: #f2f2f2;
}
table.table-hover > tbody > tr:hover > td {
  background: #f7f7f7;
}
table.table-hover.table-striped > tbody > tr:nth-child(even):hover > td {
  background: #e6e6e6;
}
/*				    __  __     __
   ▀▀▀▀▀▀▀▀▀	   / / / /__  / /___  ___  __________
 █ ▀▀▀▀ ▀▀▀▀ █	  / /_/ / _ \/ / __ \/ _ \/ ___/ ___/
 ▀ █ ▀▀▀▀▀ █ ▀	 / __  /  __/ / /_/ /  __/ /  (__  )
   ▀▀▀▀▀▀▀▀▀	/_/ /_/\___/_/ .___/\___/_/  /____/
							/_/                      */
/**
	=======================================
	INDEX =================================
	=======================================

	+ General
	+ Message
	+ Columns
	+ Media
	+ Images
	+ Vertical Alignment
	+ Embeds

	=======================================
**/
/* General Helpers */
/*------------------------------------------------------------------------------------------------*/
[hide] {
  display: none !important;
}
.hide {
  display: none !important;
}
[show] {
  display: block !important;
}
.show {
  display: block !important;
}
.text-muted {
  color: #888;
}
.text-success {
  color: #27AE60;
}
.text-info {
  color: #2980B9;
}
.text-error {
  color: #C0392B;
}
.no-text {
  text-align: left;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}
.margins {
  margin: 15px;
}
.margins-horz {
  margin: 0 15px;
}
.margins-vert {
  margin: 15px 0;
}
.margins.margins-10 {
  margin: 10px;
}
.margins.margins-5 {
  margin: 5px;
}
.margins-horz.margins-10 {
  margin: 0 10px;
}
.margins-horz.margins-5 {
  margin: 0 5px;
}
.margins-vert.margins-10 {
  margin: 10px 0;
}
.margins-vert.margins-5 {
  margin: 5px 0;
}
.margin-bottom {
  margin-bottom: 15px;
}
.margin-bottom.margins-10 {
  margin-bottom: 10px;
}
.margin-bottom.margins-5 {
  margin-bottom: 5px;
}
.margin-left {
  margin-left: 15px;
}
.margin-left.margins-10 {
  margin-left: 10px;
}
.margin-left.margins-5 {
  margin-left: 5px;
}
.margin-right {
  margin-right: 15px;
}
.margin-right.margins-10 {
  margin-right: 10px;
}
.margin-right.margins-5 {
  margin-right: 5px;
}
.boxfix {
  padding: 1px;
}
.boxfix-horz {
  padding: 0 1px;
}
.boxfix-horse {
  padding: 0 1px;
}
.boxfix-vert {
  padding: 1px 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.bolder {
  font-weight: 900;
}
.bold {
  font-weight: 700;
}
.thin {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.italic {
  font-style: italic;
}
.underline {
  font-style: underline;
}
.break-word {
  word-wrap: break-word;
}
.no-wrap {
  white-space: nowrap;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* Message */
/* ---------------------------------------------------------------------------------------------- */
.message {
  padding: 15px;
  margin-bottom: 15px;
}
.message a {
  font-weight: 700;
}
.message.message-default {
  background: #F1F1F1;
  color: #888;
}
.message.message-success {
  background: #c9ebd7;
  color: #27AE60;
}
.message.message-info {
  background: #cadfee;
  color: #2980B9;
}
.message.message-error {
  background: #efceca;
  color: #C0392B;
}
.message.message-default a {
  color: #888;
}
.message.message-success a {
  color: #27AE60;
}
.message.message-info a {
  color: #2980B9;
}
.message.message-error a {
  color: #C0392B;
}
/* Box */
/*------------------------------------------------------------------------------------------------*/
.box {
  padding: 15px;
  margin-bottom: 15px;
}
.box.box-default {
  background: #F1F1F1;
}
/* Media */
/*------------------------------------------------------------------------------------------------*/
.media {
  overflow: hidden;
  margin-bottom: 15px;
}
.media .media-object {
  float: left;
  margin: 0 15px 0 0;
}
.media .media-details {
  overflow: hidden;
  text-align: left;
}
.media.media-right .media-object {
  float: right;
  margin: 0 0 0 15px;
}
.media.media-right .media-details {
  text-align: right;
}
/* Images */
/*------------------------------------------------------------------------------------------------*/
img.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
img.img-thumbnail {
  padding: 5px;
  background: white;
  border: 1px solid #CCC;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img.img-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
img.img-shadow {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}
img.img-responsive {
  max-width: 100%;
  height: auto;
}
/* Vertical Alignment */
/* ---------------------------------------------------------------------------------------------- */
.valign-wrapper {
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
.valign {
  vertical-align: middle;
  display: table-cell;
}
/* Embeds */
/* ---------------------------------------------------------------------------------------------- */
.embed-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video,
.embed-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
