/*  __          _ __                __      __
   / /_  ____  (_) /__  _________  / /___ _/ /____   _______________
  / __ \/ __ \/ / / _ \/ ___/ __ \/ / __ `/ __/ _ \ / ___/ ___/ ___/
 / /_/ / /_/ / / /  __/ /  / /_/ / / /_/ / /_/  __// /__(__  |__  )
/_.___/\____/_/_/\___/_/  / .___/_/\__,_/\__/\___(_)___/____/____/
						 /_/
==================================================================================================*/

/* Boilerplate */
/*------------------------------------------------------------------------------------------------*/

table {

	max-width: 100%;
}

table.table {

	width: 100%;
	margin-bottom: 15px;
}

table.table th,
table.table td {

	padding: 10px 12px;
}

table.table thead tr th,
table.table tfoot tr th {

	color: #555;
	text-align: left;
}

table.table thead tr,
table.table tbody tr {

	border-bottom: 1px solid #DDD;
}

table.table thead tr{

	border-bottom: 2px solid #DDD;
}

table.table tfoot tr {

	border-top: 2px solid #DDD;
}

table.table tbody tr td {

	background: #FFF;
	color: #454545;
}

table.table.table-striped tbody tr:nth-child(even) td {

	background: #F6F6F6;
}

table.table.table-hover tbody tr:hover td {

	background: #F4F4F4;
}

table.table.table-striped tbody tr:nth-child(even):hover td {

	background: #F1F1F1;
}

.media {

	overflow: hidden;
	margin-bottom: 15px;
}

.media .media-object {

	float: left;
	margin: 0 10px 0 0;
}

.media .media-details {

	overflow: hidden;
	text-align: left;
}

.media.right .media-object {

	float: right;
	margin: 0 0 0 10px;
}

.media.right .media-details {

	text-align: right;
}

.img-rounded {

	/* border-radius */
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

.img-thumbnail {

	padding: 5px;
	background: #FFF;
	border: 1px solid #CCC;
}

.img-circle {

	/* border-radius */
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	        border-radius: 100%;
}

.img-shadow {

	/* box-shadow */
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
	   -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
	        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}

.img-responsive {

	max-width: 100%;
	height: auto;
}

.tabs {

	overflow: hidden;
	list-style: none;
}

.tabs li {

	list-style: none;
	float: left;
	display: block;
	margin: 0 5px 0;
}

.tabs li a {

	display: block;
	padding: 12px;
	text-decoration: none;
	/* border-radius */
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.tabs li a:hover {

	text-decoration: none;
}

.tabs li.active a {

	background: #428BCA;
	color: #FFF;
	cursor: default;
}