/*  __          _ __                __      __
   / /_  ____  (_) /__  _________  / /___ _/ /____   _______________
  / __ \/ __ \/ / / _ \/ ___/ __ \/ / __ `/ __/ _ \ / ___/ ___/ ___/
 / /_/ / /_/ / / /  __/ /  / /_/ / / /_/ / /_/  __// /__(__  |__  )
/_.___/\____/_/_/\___/_/  / .___/_/\__,_/\__/\___(_)___/____/____/
						 /_/
==================================================================================================*/

/* Boilerplate */
/*------------------------------------------------------------------------------------------------*/

.tabs {

	overflow: hidden;
	list-style: none;
}

.tabs li {

	list-style: none;
	float: left;
	display: block;
	margin: 0 5px 0;
}

.tabs li a {

	display: block;
	padding: 12px;
	text-decoration: none;
	/* border-radius */
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.tabs li a:hover {

	text-decoration: none;
}

.tabs li.active a {

	background: #428BCA;
	color: #FFF;
	cursor: default;
}