::-moz-selection,
::selection {
  background: #B3D4FC;
  text-shadow: none;
}
body {
  background-color: white;
  color: #333;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #CCC;
  margin: 15px 0;
  padding: 0;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  color: #23527c;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  font-family: monospace;
  font-size: inherit;
  white-space: pre-wrap;
  padding: 15px;
  margin-bottom: 15px;
  background: #F1F1F1;
  color: #888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
code {
  font-family: monospace;
  font-size: inherit;
  padding: 2px 4px;
  background: #F1F1F1;
  color: #888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
div,
header,
footer,
article,
section {
  display: block;
  position: relative;
}
small,
.font-small {
  font-size: 0.8em;
}
textarea {
  resize: vertical;
}
br.clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 0 0;
}
.cf {
  *zoom: 1;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.show-mobile {
  display: block !important;
}
@media (min-width: 768px) {
  .show-mobile {
    display: none !important;
  }
}
.show-mobile-inline {
  display: inline !important;
}
@media (min-width: 768px) {
  .show-mobile-inline {
    display: none !important;
  }
}
.show-mobile-inline-block {
  display: inline-block !important;
  *display: inline !important;
  *zoom: 1 !important;
}
@media (min-width: 768px) {
  .show-mobile-inline-block {
    display: none !important;
  }
}
.show-mobile-table {
  display: table !important;
}
@media (min-width: 768px) {
  .show-mobile-table {
    display: none !important;
  }
}
.show-mobile-table-cell {
  display: table-cell !important;
}
@media (min-width: 768px) {
  .show-mobile-table-cell {
    display: none !important;
  }
}
.show-tablet {
  display: none !important;
}
@media (min-width: 768px) {
  .show-tablet {
    display: block !important;
  }
}
@media (min-width: 1000px) {
  .show-tablet {
    display: none !important;
  }
}
.show-tablet-inline {
  display: none !important;
}
@media (min-width: 768px) {
  .show-tablet-inline {
    display: inline !important;
  }
}
@media (min-width: 1000px) {
  .show-tablet-inline {
    display: none !important;
  }
}
.show-tablet-inline-block {
  display: none !important;
}
@media (min-width: 768px) {
  .show-tablet-inline-block {
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
  }
}
@media (min-width: 1000px) {
  .show-tablet-inline-block {
    display: none !important;
  }
}
.show-tablet-table {
  display: none !important;
}
@media (min-width: 768px) {
  .show-tablet-table {
    display: table !important;
  }
}
@media (min-width: 1000px) {
  .show-tablet-table {
    display: none !important;
  }
}
.show-tablet-table-cell {
  display: none !important;
}
@media (min-width: 768px) {
  .show-tablet-table-cell {
    display: table-cell !important;
  }
}
@media (min-width: 1000px) {
  .show-tablet-table-cell {
    display: none !important;
  }
}
.show-desktop {
  display: none !important;
}
@media (min-width: 768px) {
  .show-desktop {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .show-desktop {
    display: block !important;
  }
}
.show-desktop-inline {
  display: none !important;
}
@media (min-width: 768px) {
  .show-desktop-inline {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .show-desktop-inline {
    display: inline !important;
  }
}
.show-desktop-inline-block {
  display: none !important;
}
@media (min-width: 768px) {
  .show-desktop-inline-block {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .show-desktop-inline-block {
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
  }
}
.show-desktop-table {
  display: none !important;
}
@media (min-width: 768px) {
  .show-desktop-table {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .show-desktop-table {
    display: table !important;
  }
}
.show-desktop-table-cell {
  display: none !important;
}
@media (min-width: 768px) {
  .show-desktop-table-cell {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .show-desktop-table-cell {
    display: table-cell !important;
  }
}
.hide-mobile {
  display: none !important;
}
@media (min-width: 768px) {
  .hide-mobile {
    display: block !important;
  }
}
.hide-mobile-inline {
  display: none !important;
}
@media (min-width: 768px) {
  .hide-mobile-inline {
    display: inline !important;
  }
}
.hide-mobile-inline-block {
  display: none !important;
}
@media (min-width: 768px) {
  .hide-mobile-inline-block {
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
  }
}
.hide-mobile-table {
  display: none !important;
}
@media (min-width: 768px) {
  .hide-mobile-table {
    display: table !important;
  }
}
.hide-mobile-table-cell {
  display: none !important;
}
@media (min-width: 768px) {
  .hide-mobile-table-cell {
    display: table-cell !important;
  }
}
.hide-tablet {
  display: block !important;
}
@media (min-width: 768px) {
  .hide-tablet {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .hide-tablet {
    display: block !important;
  }
}
.hide-tablet-inline {
  display: inline !important;
}
@media (min-width: 768px) {
  .hide-tablet-inline {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .hide-tablet-inline {
    display: inline !important;
  }
}
.hide-tablet-inline-block {
  display: inline-block !important;
  *display: inline !important;
  *zoom: 1 !important;
}
@media (min-width: 768px) {
  .hide-tablet-inline-block {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .hide-tablet-inline-block {
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
  }
}
.hide-tablet-table {
  display: table !important;
}
@media (min-width: 768px) {
  .hide-tablet-table {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .hide-tablet-table {
    display: table !important;
  }
}
.hide-tablet-table-cell {
  display: table-cell !important;
}
@media (min-width: 768px) {
  .hide-tablet-table-cell {
    display: none !important;
  }
}
@media (min-width: 1000px) {
  .hide-tablet-table-cell {
    display: table-cell !important;
  }
}
.hide-desktop {
  display: block !important;
}
@media (min-width: 768px) {
  .hide-desktop {
    display: block !important;
  }
}
@media (min-width: 1000px) {
  .hide-desktop {
    display: none !important;
  }
}
.hide-desktop-inline {
  display: inline !important;
}
@media (min-width: 768px) {
  .hide-desktop-inline {
    display: inline !important;
  }
}
@media (min-width: 1000px) {
  .hide-desktop-inline {
    display: none !important;
  }
}
.hide-desktop-inline-block {
  display: inline-block !important;
  *display: inline !important;
  *zoom: 1 !important;
}
@media (min-width: 768px) {
  .hide-desktop-inline-block {
    display: inline-block !important;
    *display: inline !important;
    *zoom: 1 !important;
  }
}
@media (min-width: 1000px) {
  .hide-desktop-inline-block {
    display: none !important;
  }
}
.hide-desktop-table {
  display: table !important;
}
@media (min-width: 768px) {
  .hide-desktop-table {
    display: table !important;
  }
}
@media (min-width: 1000px) {
  .hide-desktop-table {
    display: none !important;
  }
}
.hide-desktop-table-cell {
  display: table-cell !important;
}
@media (min-width: 768px) {
  .hide-desktop-table-cell {
    display: table-cell !important;
  }
}
@media (min-width: 1000px) {
  .hide-desktop-table-cell {
    display: none !important;
  }
}
.the-content img {
  max-width: 100%;
  height: auto;
}
.the-content p {
  font-weight: inherit;
  margin-bottom: 15px;
}
.the-content h1,
.the-content .h1,
.the-content h2,
.the-content .h2,
.the-content h3,
.the-content .h3,
.the-content h4,
.the-content .h4,
.the-content h5,
.the-content .h5,
.the-content h6,
.the-content .h6 {
  line-height: 1.2;
  margin-bottom: 15px;
  font-weight: inherit;
}
.the-content h1,
.the-content .h1 {
  font-size: 2.0736em;
}
.the-content h2,
.the-content .h2 {
  font-size: 1.728em;
}
.the-content h3,
.the-content .h3 {
  font-size: 1.44em;
}
.the-content h4,
.the-content .h4 {
  font-size: 1.2em;
}
.the-content h5,
.the-content .h5 {
  font-size: 1em;
}
.the-content h6,
.the-content .h6 {
  font-size: 1em;
}
.the-content h1 small,
.the-content .h1 small,
.the-content h2 small,
.the-content .h2 small,
.the-content h3 small,
.the-content .h3 small,
.the-content h4 small,
.the-content .h4 small,
.the-content h5 small,
.the-content .h5 small,
.the-content h6 small,
.the-content .h6 small {
  font-size: 75%;
}
.the-content ol,
.the-content ul,
.the-content dt {
  margin-left: 30px;
  margin-bottom: 15px;
}
.the-content li,
.the-content dt {
  margin-bottom: 15px;
}
.the-content a:hover {
  text-decoration: underline;
}
.the-content .alignleft,
.the-content .alignright,
.the-content .aligncenter,
.the-content .alignnone {
  display: block;
  margin: 15px auto;
}
.the-content .alignnone {
  float: none;
  display: none;
}
@media (min-width: 768px) {
  .the-content .alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .the-content .alignright {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .the-content .aligncenter {
    display: block;
    margin: 15px auto;
  }
}
button {
  overflow: visible;
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.button {
  text-transform: none;
  font-family: inherit;
  font-size: 100%;
  *font-size: 90%;
  *overflow: visible;
  padding: 0.429em 1.2em;
  color: white;
  *color: white;
  border: 1px solid #7F8C8D;
  background-color: #7F8C8D;
  text-decoration: none !important;
  border-radius: 2px;
  font-weight: 300;
  height: 2.4em;
  line-height: 1.542em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border 0.25s linear 0s color 0.25s linear 0s background-color 0.25s linear 0s;
  -moz-transition: border 0.25s linear 0s color 0.25s linear 0s background-color 0.25s linear 0s;
  -ms-transition: border 0.25s linear 0s color 0.25s linear 0s background-color 0.25s linear 0s;
  -o-transition: border 0.25s linear 0s color 0.25s linear 0s background-color 0.25s linear 0s;
  transition: border 0.25s linear 0s color 0.25s linear 0s background-color 0.25s linear 0s;
}
.button:hover,
.button.button-hover {
  background-color: #95A5A6;
  color: white;
}
.button:focus {
  outline: 0;
}
.button[disabled],
.button.button-disabled,
.button.button-disabled:hover {
  border: none;
  background-image: none;
  cursor: not-allowed;
  box-shadow: none;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.button.button-hidden {
  display: none;
}
.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.button.button-block {
  display: block;
  width: 100%;
}
.button.button-link {
  color: #337ab7;
  background: none;
  border-color: transparent;
}
.button.button-link:hover {
  color: #23527c;
  background: transparent;
  text-decoration: underline;
}
.button-primary,
.button-selected {
  background-color: #2980B9;
  border-color: #2980B9;
  color: white;
}
.button-primary:hover,
.button-selected:hover {
  background-color: #55a5d9;
}
.button-success {
  background-color: #27AE60;
  border-color: #27AE60;
  color: white;
}
.button-success:hover {
  background-color: #4bd786;
}
.button-error {
  background-color: #D35400;
  border-color: #D35400;
  color: white;
}
.button-error:hover {
  background-color: #ff7921;
}
.button-warning {
  background-color: #C0392B;
  border-color: #C0392B;
  color: white;
}
.button-warning:hover {
  background-color: #db695d;
}
.button-facebook {
  background-color: #2D5F9A;
  border-color: #2D5F9A;
  color: white;
}
.button-facebook:hover {
  background-color: #4a84ca;
}
.button-twitter {
  background-color: #55ACEE;
  border-color: #55ACEE;
  color: white;
}
.button-twitter:hover {
  background-color: #9bcef5;
}
.button-linkedin {
  background-color: #2189BE;
  border-color: #2189BE;
  color: white;
}
.button-linkedin:hover {
  background-color: #4caee0;
}
.button-pinterest {
  background-color: #D11E16;
  border-color: #D11E16;
  color: white;
}
.button-pinterest:hover {
  background-color: #ec4f48;
}
.button-rss {
  background-color: #FF6600;
  border-color: #FF6600;
  color: white;
}
.button-rss:hover {
  background-color: #ff944d;
}
.button-xsmall {
  font-size: 70%;
}
.button-small {
  font-size: 85%;
}
.button-large {
  font-size: 125%;
}
.button-xlarge {
  font-size: 150%;
}
.button-square {
  border-radius: 0;
}
.button-pill {
  border-radius: 500px;
}
.button-outline {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
}
.button-outline {
  border-color: #7F8C8D;
  color: #7F8C8D;
}
.button-outline:hover {
  background-color: #7F8C8D;
  color: white;
}
.button-outline.button-outline-primary {
  border-color: #2980B9;
  color: #2980B9;
}
.button-outline.button-outline-primary:hover {
  background-color: #2980B9;
  color: white;
}
.button-outline.button-outline-success {
  border-color: #27AE60;
  color: #27AE60;
}
.button-outline.button-outline-success:hover {
  background-color: #27AE60;
  color: white;
}
.button-outline.button-outline-error {
  border-color: #D35400;
  color: #D35400;
}
.button-outline.button-outline-error:hover {
  background-color: #D35400;
  color: white;
}
.button-outline.button-outline-warning {
  border-color: #C0392B;
  color: #C0392B;
}
.button-outline.button-outline-warning:hover {
  background-color: #C0392B;
  color: white;
}
.form-control {
  line-height: normal;
  vertical-align: middle;
  -webkit-user-drag: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.form-control:disabled {
  cursor: not-allowed;
}
.form-group {
  margin-bottom: 10px;
}
.form-group .control-label {
  display: block;
  margin-bottom: 5px;
}
.form-group .form-control {
  text-transform: none;
  font-size: inherit;
  font-family: inherit;
  font-size: 100%;
  *font-size: 90%;
  *overflow: visible;
  vertical-align: middle;
  background: #FFF;
  color: #555;
  border: 1px solid #DDD;
  padding: 0.429em;
  font-weight: 300;
  height: 2.4em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.form-group .form-control:disabled {
  background-color: #E1E1E1;
}
.form-group .form-control[readonly] {
  background-color: #F6F6F6;
}
.form-group .form-control:focus {
  border-color: #CCC;
}
.form-group .form-control.form-control-xsmall {
  font-size: 70%;
}
.form-group .form-control.form-control-small {
  font-size: 85%;
}
.form-group .form-control.form-control-large {
  font-size: 125%;
}
.form-group .form-control.form-control-xlarge {
  font-size: 150%;
}
.form-group .form-control.input-block {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-group textarea.form-control {
  height: auto;
}
.form-group select.form-control {
  padding: 0.35em 0.429em;
}
.form-group .help-block,
.form-group .feedback-block {
  display: block;
  margin: 10px 0;
  color: #999;
}
.form-group .required {
  color: #C00;
}
.form-group.has-error .control-label,
.form-group.has-error .form-control,
.form-group.has-error .feedback-block {
  color: #C00;
}
.form-group.has-success .control-label,
.form-group.has-success .form-control,
.form-group.has-success .feedback-block {
  color: #437F1A;
}
.form-group.has-error .form-control {
  border-color: #C00;
}
.form-group.has-success .form-control {
  border-color: #437F1A;
}
.inner {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 1000px) {
  .inner {
    width: 1000px;
    max-width: none;
  }
}
.row .col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box !important;
  -moz-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
@media screen and (min-width: 768px) {
  .row-md {
    *zoom: 1;
    margin-left: -15px;
    margin-right: -15px;
  }
  .row-md:before,
  .row-md:after {
    content: " ";
    display: table;
  }
  .row-md:after {
    clear: both;
  }
  .row-md .col {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .row-md.row-10 {
    margin: 0 -10px;
  }
  .row-md.row-10 > .col {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row-md.row-5 {
    margin: 0 -5px;
  }
  .row-md.row-5 > .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .row-md.row-collapse {
    margin: 0 0;
  }
  .row-md.row-collapse > .col {
    padding-left: 0;
    padding-right: 0;
  }
  .row-md .col.col-md-3 {
    width: 25%;
  }
  .row-md .col.col-md-4 {
    width: 33.333333333333%;
  }
  .row-md .col.col-md-6 {
    width: 50%;
  }
  .row-md .col.col-offset-md-3 {
    margin-left: 16.666666666667%;
  }
  .row-md .col.col-offset-md-4 {
    margin-left: 33.333333333333%;
  }
  .row-md .col.col-offset-md-6 {
    margin-left: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .row {
    *zoom: 1;
    margin-left: -15px;
    margin-right: -15px;
  }
  .row:before,
  .row:after {
    content: " ";
    display: table;
  }
  .row:after {
    clear: both;
  }
  .row.row-10 {
    margin: 0 -10px;
  }
  .row.row-10 > .col {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row.row-5 {
    margin: 0 -5px;
  }
  .row.row-5 > .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .row.row-collapse {
    margin: 0 0;
  }
  .row.row-collapse > .col {
    padding-left: 0;
    padding-right: 0;
  }
  .row .col {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .row .col.col-1 {
    width: 8.3333333333333%;
  }
  .row .col.col-2 {
    width: 16.666666666667%;
  }
  .row .col.col-3 {
    width: 25%;
  }
  .row .col.col-4 {
    width: 33.333333333333%;
  }
  .row .col.col-5 {
    width: 41.666666666667%;
  }
  .row .col.col-6 {
    width: 50%;
  }
  .row .col.col-7 {
    width: 58.333333333333%;
  }
  .row .col.col-8 {
    width: 66.666666666667%;
  }
  .row .col.col-9 {
    width: 75%;
  }
  .row .col.col-10 {
    width: 83.333333333333%;
  }
  .row .col.col-11 {
    width: 91.666666666667%;
  }
  .row .col.col-12 {
    margin-left: 0;
    width: 100%;
  }
  .row .col.col-offset-1 {
    margin-left: 8.3333333333333%;
  }
  .row .col.col-offset-2 {
    margin-left: 16.666666666667%;
  }
  .row .col.col-offset-3 {
    margin-left: 25%;
  }
  .row .col.col-offset-4 {
    margin-left: 33.333333333333%;
  }
  .row .col.col-offset-5 {
    margin-left: 41.666666666667%;
  }
  .row .col.col-offset-6 {
    margin-left: 50%;
  }
  .row .col.col-offset-7 {
    margin-left: 58.333333333333%;
  }
  .row .col.col-offset-8 {
    margin-left: 66.666666666667%;
  }
  .row .col.col-offset-9 {
    margin-left: 75%;
  }
  .row .col.col-offset-10 {
    margin-left: 83.333333333333%;
  }
  .row .col.col-offset-11 {
    margin-left: 91.666666666667%;
  }
  .row .col.col-offset-12 {
    margin-left-left: 0;
  }
}
[hide] {
  display: none !important;
}
.hide {
  display: none !important;
}
[show] {
  display: block !important;
}
.show {
  display: block !important;
}
.text-muted {
  color: #888;
}
.text-success {
  color: #528217;
}
.text-info {
  color: #155083;
}
.text-error {
  color: #AB3101;
}
.no-text {
  text-align: left;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}
.margins {
  margin: 15px;
}
.margins-horz {
  margin: 0 15px;
}
.margins-vert {
  margin: 15px 0;
}
.margins.margins-5 {
  margin: 5px;
}
.margins.margins-10 {
  margin: 10px;
}
.margins-horz.margins-5 {
  margin: 0 5px;
}
.margins-horz.margins-10 {
  margin: 0 10px;
}
.margins-vert.margins-5 {
  margin: 5px 0;
}
.margins-vert.margins-10 {
  margin: 10px 0;
}
.boxfix {
  padding: 1px;
}
.boxfix-horz {
  padding: 0 1px;
}
.boxfix-vert {
  padding: 1px 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.bold {
  font-weight: 700;
}
.thin {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.italic {
  font-style: italic;
}
.underline {
  font-style: underline;
}
.break-word {
  word-wrap: break-word;
}
.no-wrap {
  white-space: nowrap;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.message {
  padding: 15px;
  margin-bottom: 15px;
}
.message a {
  font-weight: 700;
}
.message.message-default {
  background: #F1F1F1;
  color: #444;
}
.message.message-success {
  background: #DEF4C2;
  color: #528217;
}
.message.message-info {
  background: #DCEBF9;
  color: #155083;
}
.message.message-error {
  background: #FEE2D7;
  color: #AB3101;
}
.message.message-default a {
  color: #444;
}
.message.message-success a {
  color: #528217;
}
.message.message-info a {
  color: #155083;
}
.message.message-error a {
  color: #AB3101;
}
.column {
  float: left;
}
.column-half {
  width: 50%;
}
.column-third {
  width: 33.3333333333%;
}
.column-fourth {
  width: 25%;
}
.column-fifth {
  width: 20%;
}
.box {
  padding: 15px;
  margin-bottom: 15px;
}
.box.box-default {
  background: #F1F1F1;
}
.media {
  overflow: hidden;
  margin-bottom: 15px;
}
.media .media-object {
  float: left;
  margin: 0 10px 0 0;
}
.media .media-details {
  overflow: hidden;
  text-align: left;
}
.media.media-right .media-object {
  float: right;
  margin: 0 0 0 10px;
}
.media.media-right .media-details {
  text-align: right;
}
img.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
img.img-thumbnail {
  padding: 5px;
  background: #FFF;
  border: 1px solid #CCC;
}
img.img-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
img.img-shadow {
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.35);
  -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.35);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.35);
}
img.img-responsive {
  max-width: 100%;
  height: auto;
}
.valign-wrapper {
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
.valign {
  vertical-align: middle;
  display: table-cell;
}
.embed-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
table {
  max-width: 100%;
}
table.table {
  width: 100%;
  margin-bottom: 15px;
}
table.table th,
table.table td {
  padding: 10px 12px;
}
table.table > thead > tr > th,
table.table > tfoot > tr > th {
  text-align: left;
}
table.table > thead > tr,
table.table > tbody > tr {
  border-bottom: 1px solid #DDD;
}
table.table > thead > tr {
  border-bottom: 2px solid #DDD;
}
table.table > tfoot > tr {
  border-top: 2px solid #DDD;
}
table.table-border {
  border: 1px solid #DDD;
}
table.table-striped > tbody > tr:nth-child(even) > td {
  background: #F6F6F6;
}
table.table-hover > tbody > tr:hover > td {
  background: #F4F4F4;
}
table.table-hover.table-striped > tbody > tr:nth-child(even):hover > td {
  background: #F1F1F1;
}
