/*	    __  __     __
	   / / / /__  / /___  ___  __________
	  / /_/ / _ \/ / __ \/ _ \/ ___/ ___/
	 / __  /  __/ / /_/ /  __/ /  (__  )
	/_/ /_/\___/_/ .___/\___/_/  /____/
				/_/                      */

/**
	=======================================
	INDEX =================================
	=======================================

	+ General
	+ Message
	+ Media
	+ Images
	+ Vertical Alignment
	+ Embeds

	=======================================
**/

/* General Helpers */
/*------------------------------------------------------------------------------------------------*/

[hide] { display: none !important; }
[show] { display: block !important; }

.hide { display: none !important; }
.show { display: block !important; }

.h1, .h2, .h3, .h4, .h5, .h6 {

	font-weight: 400;
	margin-bottom: 15px;
}

.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {

	font-size: 75%;
	color: #888;
}

.text-muted   { color: #888;    }
.text-success { color: #528217; }
.text-info    { color: #155083; }
.text-error   { color: #AB3101; }

.no-text {

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.margins 		{ margin: 15px; }
.margins-horz 	{ margin: 0 15px; }
.margins-vert 	{ margin: 15px 0; }

.boxfix 		{ padding: 1px; }
.boxfix-horz 	{ padding: 0 1px; }
.boxfix-vert 	{ padding: 1px 0; }

.pull-left 		{ float: left; }
.pull-right 	{ float: right; }

.text-left 		{ text-align: left; }
.text-right 	{ text-align: right; }
.text-center	{ text-align: center; }
.text-justify 	{ text-align: justify; }

.bold 			{ font-weight: bold; }
.regular 		{ font-weight: normal; }
.italic 		{ font-style: italic; }

.break-word 	{ word-wrap: break-word; }
.no-wrap 		{ white-space: nowrap; }

.alignleft {

	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.alignright {

	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.aligncenter {

	display: block;
	margin: 10px auto;
}

.alignnone { float: none; }

.truncate {

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Message */
/* ---------------------------------------------------------------------------------------------- */
.message {

	padding: 15px;
	margin-bottom: 15px;
}

.message a {

	font-weight: 700;
}

.message.message-default {

	background: #F1F1F1;
	color: #444;
}

.message.message-success {

	background: #DEF4C2;
	color: #528217;
}

.message.message-info {

	background: #DCEBF9;
	color: #155083;
}

.message.message-error {

	background: #FEE2D7;
	color: #AB3101;
}

.message.message-default a { color: #444;    }
.message.message-success a { color: #528217; }
.message.message-info a    { color: #155083; }
.message.message-error a   { color: #AB3101; }

/* Media */
/*------------------------------------------------------------------------------------------------*/
.media {

	overflow: hidden;
	margin-bottom: 15px;
}

.media .media-object {

	float: left;
	margin: 0 10px 0 0;
}

.media .media-details {

	overflow: hidden;
	text-align: left;
}

.media.media-right .media-object {

	float: right;
	margin: 0 0 0 10px;
}

.media.media-right .media-details {

	text-align: right;
}

/* Images */
/*------------------------------------------------------------------------------------------------*/
.img-rounded {

	/* border-radius */
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
}

.img-thumbnail {

	padding: 5px;
	background: #FFF;
	border: 1px solid #CCC;
}

.img-circle {

	/* border-radius */
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
			border-radius: 100%;
}

.img-shadow {

	/* box-shadow */
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
	   -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}

.img-responsive {

	max-width: 100%;
	height: auto;
}

/* Vertical Alignment */
/* ---------------------------------------------------------------------------------------------- */
.valign-wrapper {

	display: table;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}

.valign {

	vertical-align: middle;
	display: table-cell;
}

/* Embeds */
/* ---------------------------------------------------------------------------------------------- */
.embed-responsive {

	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-responsive iframe,
.embed-responsive object,
.embed-responsive embed {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}