/* 	    ____
	   / __ )____ _________
	  / __  / __ `/ ___/ _ \
	 / /_/ / /_/ (__  )  __/
	/_____/\__,_/____/\___/
							 */

/**
	=======================================
	INDEX =================================
	=======================================

	+ Generals
	+ Responsive Helpers
	+ Clear Fixes
	+ The Content
	+ Helpers

	=======================================
**/


/* Generals */
/*------------------------------------------------------------------------------------------------*/

::-moz-selection {

	background: #b3d4fc;
	text-shadow: none;
}

::selection {

	background: #b3d4fc;
	text-shadow: none;
}

body {

	background-color: white;
	font-weight: 400;
	line-height: 1.45;
	color: #333;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 14px;
}

hr {

	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

a {

	color: #337ab7;
	text-decoration: none;
}

a:hover {

	color: #23527c;
}

/* Remove the gap between audio, canvas, iframes, */

audio, canvas, iframe, img, svg, video { vertical-align: middle; }

sub, sup {

	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

pre {

	font-family: monospace;
	font-size: inherit;
	padding: 15px;
	margin-bottom: 15px;
	background: #F1F1F1;
	color: #888;
	white-space: pre-wrap;

	/* border-radius */
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

code {

	font-family: monospace;
	font-size: inherit;
	padding: 2px 4px;
	background: #F1F1F1;
	color: #888;

	/* border-radius */
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

div,
header,
footer,
article,
section {

	display: block;
	position: relative;
}

small, .font-small { font-size: 0.8em; }

textarea { resize: vertical; }

/* Responsive Helpers */
/* ---------------------------------------------------------------------------------------------- */

.show-mobile { display: block; }
.show-desktop { display: none; }
.show-tablet { display: none; }

.show-mobile-inline { display: inline-block; *display: inline; *zoom: 1; }
.show-desktop-inline { display: none; }
.show-tablet-inline { display: none; }

.show-mobile-table { display: table; }
.show-desktop-table { display: none; }
.show-tablet-table { display: none; }

.show-mobile-table-cell { display: table-cell; }
.show-desktop-table-cell { display: none; }
.show-tablet-table-cell { display: none; }

@media (min-width: 768px) {

	.show-mobile { display: none; }
	.show-tablet { display: block; }

	.show-mobile-inline { display: none; }
	.show-tablet-inline { display: inline-block; *display: inline; *zoom: 1; }

	.show-mobile-table { display: none; }
	.show-tablet-table { display: table; }

	.show-mobile-table { display: none; }
	.show-tablet-table-cell { display: table-cell; }
}

@media (min-width: 1000px) {

	.show-desktop { display: block; }
	.show-desktop-inline { display: inline-block; *display: inline; *zoom: 1; }
	.show-desktop-table { display: table; }
	.show-desktop-table-cell { display: table-cell; }
}

/* Clear Fixes */
/*------------------------------------------------------------------------------------------------*/

br.clear {

	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 0 0;
}

.cf:before,
.cf:after {

	content: " ";
	display: table;
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* The Content */
/*------------------------------------------------------------------------------------------------*/

.the-content img {

	max-width: 100%;
	height: auto;
}

.the-content p { margin-bottom: 15px; }

.the-content h1, .the-content .h1,
.the-content h2, .the-content .h2,
.the-content h3, .the-content .h3,
.the-content h4, .the-content .h4,
.the-content h5, .the-content .h5,
.the-content h6, .the-content .h6 {

	margin-bottom: 15px;
	font-weight: inherit;
}

.the-content h1, .the-content .h1 { font-size: 2em; line-height: 1.5; }
.the-content h2, .the-content .h2 { font-size: 1.5em; line-height: 1; }
.the-content h3, .the-content .h3 { font-size: 1.2em; line-height: 1.2; }
.the-content h4, .the-content .h4 { font-size: 1.125em; line-height: 1.333; }
.the-content h5, .the-content .h5 { font-size: 1em; line-height: 1.5; }
.the-content h6, .the-content .h6 { font-size: 1em; line-height: 1.5; }

.the-content h1 small, .the-content .h1 small
.the-content h2 small, .the-content .h2 small
.the-content h3 small, .the-content .h3 small
.the-content h4 small, .the-content .h4 small
.the-content h5 small, .the-content .h5 small
.the-content h6 small  .the-content .h6 small{

	font-size: 75%;
}

.the-content ol,
.the-content ul,
.the-content dl {

	margin-left: 30px;
	margin-bottom: 15px;
}

.the-content li,
.the-content dt {

	margin-bottom: 15px;
}

.the-content a:hover {

	text-decoration: underline;
}

.the-content .alignleft,
.the-content .alignright,
.the-content .aligncenter,
.the-content .alignnone {

	display: block;
	margin: 10px auto;
}

.the-content .alignnone { float: none; display: inline; }

@media (min-width: 1000px) {

	.the-content .alignleft {

		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.the-content .alignright {

		float: right;
		margin-left: 10px;
		margin-bottom: 10px;
	}

	.the-content .aligncenter {

		display: block;
		margin: 10px auto;
	}
}