/* 	   ______     _     __
	  / ____/____(_)___/ /
	 / / __/ ___/ / __  /
	/ /_/ / /  / / /_/ /
	\____/_/  /_/\__,_/
						   */

/* Inner */
/* ---------------------------------------------------------------------------------------------- */

.inner {

	max-width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 1000px) {

	.inner {

		width: 1000px;
		max-width: none;
	}
}

/* Responsive grid */
/*------------------------------------------------------------------------------------------------*/

.row .col {

	/* box-sizing */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;

	/* background-clip */
	-webkit-background-clip: padding-box !important;
	   -moz-background-clip: padding-box !important;
			background-clip: padding-box !important;
}

@media screen and (min-width: 768px) {

	.row:before,
	.row:after {

		display: table;
		content: "";
	}

	.row:after {

		clear: both;
	}

	.row {

		margin-left: -15px;
		margin-right: -15px;
	}

	.row .col {

		float: left;
		position: relative;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.row.row-10 		{ margin: 0 -10px; }
	.row.row-5 			{ margin: 0 -5px; }
	.row.row-collapse 	{ margin: 0 0; }

	.row.row-10 > .col 			{ padding-left: 10px; padding-right: 10px; }
	.row.row-5 > .col 			{ padding-left: 5px; padding-right: 5px; }
	.row.row-collapse > .col 	{ padding-left: 0; padding-right: 0; }

	.row .col.col-md-3 	{ width: 25.0%; }
	.row .col.col-md-4 	{ width: 33.3333333333%; }
	.row .col.col-md-6 	{ width: 50.0%; }

	.row .col.col-offset-md-3 	{ margin-left: 25.0%; }
	.row .col.col-offset-md-4 	{ margin-left: 33.3333333333%; }
	.row .col.col-offset-md-6 	{ margin-left: 50.0%; }
}

@media screen and (min-width: 1000px) {

	.row .col.col-1 	{ width: 8.33333333333%; }
	.row .col.col-2 	{ width: 16.6666666667%; }
	.row .col.col-3 	{ width: 25.0%; }
	.row .col.col-4 	{ width: 33.3333333333%; }
	.row .col.col-5 	{ width: 41.6666666667%; }
	.row .col.col-6 	{ width: 50.0%; }
	.row .col.col-7 	{ width: 58.3333333333%; }
	.row .col.col-8 	{ width: 66.6666666667%; }
	.row .col.col-9 	{ width: 75.0%; }
	.row .col.col-10 	{ width: 83.3333333333%; }
	.row .col.col-11 	{ width: 91.6666666667%; }
	.row .col.col-12 	{ margin-left: 0; width: 100%; }

	.row .col.col-offset-1 		{ margin-left: 8.33333333333%; }
	.row .col.col-offset-2 		{ margin-left: 16.6666666667%; }
	.row .col.col-offset-3 		{ margin-left: 25.0%; }
	.row .col.col-offset-4 		{ margin-left: 33.3333333333%; }
	.row .col.col-offset-5 		{ margin-left: 41.6666666667%; }
	.row .col.col-offset-6 		{ margin-left: 50.0%; }
	.row .col.col-offset-7 		{ margin-left: 58.3333333333%; }
	.row .col.col-offset-8 		{ margin-left: 66.6666666667%; }
	.row .col.col-offset-9 		{ margin-left: 75.0%; }
	.row .col.col-offset-10 	{ margin-left: 83.3333333333%; }
	.row .col.col-offset-11 	{ margin-left: 91.6666666667%; }
	.row .col.col-offset-12 	{ margin-left-left: 0; }
}

/* Shaded */
/* ---------------------------------------------------------------------------------------------- */

.row.shaded .col {

	min-height: 30px;
	line-height: 30px;
	background: #DDD;
	text-align: center;
	color: #666;
	border: 1px solid #CCC;
}

.row.shaded .col span {

	display: block;
	margin: 5px 0;
	background-color: #F0F0F0;
}

.row.shaded .col .col {

	background: #F1F1F1;
}