table {

	max-width: 100%;
}

table.table {

	width: 100%;
	margin-bottom: 15px;
}

table.table th,
table.table td {

	padding: 10px 12px;
}

table.table thead tr th,
table.table tfoot tr th {

	text-align: left;
}

table.table thead tr,
table.table tbody tr {

	border-bottom: 1px solid #DDD;
}

table.table thead tr{

	border-bottom: 2px solid #DDD;
}

table.table tfoot tr {

	border-top: 2px solid #DDD;
}

table.table.table-striped tbody tr:nth-child(even) td {

	background: #F6F6F6;
}

table.table.table-hover tbody tr:hover td {

	background: #F4F4F4;
}

table.table.table-hover.table-striped tbody tr:nth-child(even):hover td {

	background: #F1F1F1;
}