/**
 * structure.css
 */

body {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

/*Helpers*/
/*------------------------------------------------------------------------------------------------*/

.inner {

	width: 1000px;
	margin: 0 auto;
}

.column 		{ float: left; }
.column-half	{ width: 50%; }
.column-third	{ width: 33%; }
.column-fourth	{ width: 25%; }