/*				    ____        __  __
	▀▀▀▀▀▀▀▀▀	   / __ )__  __/ /_/ /_____  ____  _____
  █ ▀▀▀▀ ▀▀▀▀ █	  / __  / / / / __/ __/ __ \/ __ \/ ___/
  ▀ █ ▀▀▀▀▀ █ ▀	 / /_/ / /_/ / /_/ /_/ /_/ / / / (__  )
	▀▀▀▀▀▀▀▀▀	/_____/\__,_/\__/\__/\____/_/ /_/____/*/

/* Variables */
/* ---------------------------------------------------------------------------------------------- */

@button-border-radius: @-size-1; // 4px

/* Button */
/* ---------------------------------------------------------------------------------------------- */

.button {

	.button-style;

	&:not(:disabled):not(.disabled) {

		cursor: pointer;
	}

	&.button-primary {

		.button-color-style(blue);
	}

	&.button-success {

		.button-color-style(green);
	}

	&.button-danger {

		.button-color-style(red);
	}

	&.button-warning {

		.button-color-style(yellow);
	}

	&.button-ghost-primary,
	&.button-outline-primary {

		.button-ghost-color-style(blue);
	}

	&.button-link {

		color: @primary;
		border-color: transparent;
		background-color: transparent;

		&.hover,
		&:hover {

			text-decoration: underline;
		}
	}

	// Sizes

	&.button-large { .comb-large; }
	&.button-medium { .comb-medium; }
	&.button-small { .comb-small; }
	&.button-xsmall { .comb-xsmall; }

	&.button-block {

		display: block;
		width: 100%;
	}

	// Modifiers

	&.is-disabled,
	&.disabled,
	&:disabled {

		opacity: .65;
	}

	&.is-ellipsis,
	&.button-ellipsis {

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	// Styles

	&.is-square,
	&.button-square {

		border-radius: 0;
	}

	&.is-pill,
	&.button-pill {

		border-radius: @-radius-round;
	}

	&.is-loading {

		color: transparent !important;
		position: relative;

		&:after {

			.spin-loader;
			position: absolute;
			left: calc(~"50% - (1em * .5)");
			top: calc(~"50% - (1em * .5)");
		}
	}
}

.buttons,
.controls {

	// Sizes

	&.are-large > .button { .comb-large; }
	&.are-medium > .button { .comb-medium; }
	&.are-small > .button { .comb-small; }
	&.are-xsmall > .button { .comb-xsmall; }
}

/* Button Colors */
/* ---------------------------------------------------------------------------------------------- */

.button {

	&.button-gray { .button-color-style(gray); }
	&.button-red { .button-color-style(red); }
	&.button-pink { .button-color-style(pink); }
	&.button-grape { .button-color-style(grape); }
	&.button-violet { .button-color-style(violet); }
	&.button-indigo { .button-color-style(indigo); }
	&.button-blue { .button-color-style(blue); }
	&.button-cyan { .button-color-style(cyan); }
	&.button-teal { .button-color-style(teal); }
	&.button-green { .button-color-style(green); }
	&.button-lime { .button-color-style(lime); }
	&.button-yellow { .button-color-style(yellow); }
	&.button-orange { .button-color-style(orange); }

	&.button-ghost-gray { .button-ghost-color-style(gray); }
	&.button-ghost-red { .button-ghost-color-style(red); }
	&.button-ghost-pink { .button-ghost-color-style(pink); }
	&.button-ghost-grape { .button-ghost-color-style(grape); }
	&.button-ghost-violet { .button-ghost-color-style(violet); }
	&.button-ghost-indigo { .button-ghost-color-style(indigo); }
	&.button-ghost-blue { .button-ghost-color-style(blue); }
	&.button-ghost-cyan { .button-ghost-color-style(cyan); }
	&.button-ghost-teal { .button-ghost-color-style(teal); }
	&.button-ghost-green { .button-ghost-color-style(green); }
	&.button-ghost-lime { .button-ghost-color-style(lime); }
	&.button-ghost-yellow { .button-ghost-color-style(yellow); }
	&.button-ghost-orange { .button-ghost-color-style(orange); }
}

/* Button Dropdown */
/* ---------------------------------------------------------------------------------------------- */

.button-dropdown {

	display: inline-block;
	position: relative;
	border-radius: @button-border-radius;
	padding: 0;

	.button {

		border-radius: inherit;
		font-size: inherit;
		width: 100%;
	}

	.dropdown-menu {

		top: 100%;
		position: absolute;
		overflow: hidden;
		background: @body-background;
		border: @-border-size-1 solid @border-1;
		z-index: 10;
		//min-width: 110%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		right: 0;
		border-bottom-left-radius: @button-border-radius;
		border-bottom-right-radius: @button-border-radius;
		border-top-left-radius: @button-border-radius;
		box-shadow: @shadow-1;
		display: none;

		.menu-item {

			margin-bottom: 0;

			a {

				color: @body-color;
				text-decoration: none;
				padding: 0.75rem 0.75rem;
				display: block;
				font-weight: normal;
			}

			&:hover a {

				background: fade(black, 12.5%);
			}
		}

		.menu-divider {

			border-top: @-border-size-1 solid @border-2;
			margin: 0;
		}
	}

	&.show,
	&:hover {

		& > .button {

			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		.dropdown-menu {

			display: block;
		}
	}
}

/* Button Group */
/* ---------------------------------------------------------------------------------------------- */

.button-group {

	.cf();
	display: inline-block;
	border-radius: @button-border-radius;
	display: flex;
	flex-direction: column;

	@media @sm-n-above {

		flex-direction: row;
	}

	& > .button {

		margin: 0 !important;
		margin-right: -1px !important;
	}

	& > * {

		border-radius: 0;
		margin: 0 !important;
		width: 100%;

		@media @sm-n-above {

			width: auto;
		}

		&:first-child {

			border-top-left-radius: @button-border-radius;
			border-top-right-radius: @button-border-radius;

			@media @sm-n-above {

				border-radius: 0;
				border-top-left-radius: @button-border-radius;
				border-bottom-left-radius: @button-border-radius;
			}
		}

		&:last-child {

			border-bottom-left-radius: @button-border-radius;
			border-bottom-right-radius: @button-border-radius;

			@media @sm-n-above {

				border-radius: 0;
				border-top-right-radius: @button-border-radius;
				border-bottom-right-radius: @button-border-radius;
			}
		}
	}
}

/* Mixins */
/* ---------------------------------------------------------------------------------------------- */

.button-style(@background) {

	@text-color: contrast(@background);
	@button-style-comparation: boolean(@text-color = #000);

	color: @text-color;
	background: @background;
	border-color: @background;
	color: attr(data-foo);

	&:hover {

		& when (@button-style-comparation) {
			background: lighten(@background, 25%);
		}

		& when not (@button-style-comparation) {
			background: darken(@background, 25%);
		}
	}
}

.button-color-style(@button-color) {

	@button-shape: "@{button-color}-shape";
	@button-shape-hover: "@{button-color}-shape-hover";

	color: white;
	background: @@button-shape;
	border-color: @@button-shape;

	&.hover,
	&:hover {

		background: @@button-shape-hover;
		border-color: @@button-shape-hover;
	}
}

.button-ghost-color-style(@button-color) {

	@button-shape: "@{button-color}-shape";
	@button-shape-hover: "@{button-color}-shape-hover";

	background-color: transparent;
	color: @@button-shape;
	border-color: @@button-shape;

	&.hover,
	&:hover {

		color: white;
		background-color: @@button-shape;

		&.is-loading {

			&:after {

				border-color: white;
				border-right-color: transparent;
				border-top-color: transparent;
			}
		}
	}

	&.is-loading {

		&:after {

			border-color: @@button-shape;
			border-right-color: transparent;
			border-top-color: transparent;
		}
	}
}