@object-position-values: {
	object-bottom: bottom;
	object-center: center;
	object-left: left;
	object-left-bottom: left bottom;
	object-left-top: left top;
	object-right: right;
	object-right-bottom: right bottom;
	object-right-top: right top;
	object-top: top;
}

each(@object-position-values, {
	.set-rule(@key, {
		.apply-rule(object-position, @value);
	});
});