.metabox {

	margin: @margin-double 0;
	padding: @margin-double;
	box-shadow: @shadow-3;
	border-radius: @-radius-conditional-1;
}

@media @md-n-above and @xl-n-below {

	p {

		//background: #AAA;
	}
}

body {

	background-color: @body-background;
	color: @body-color;
}


/*:where(html) {

	--primary: red !important;
}*/